[2016-08-19 02:51] shazow opened #62 "Write a guide about stepping down and taking on ownership"
Perhaps a section towards the end about stepping down as the maintainer and how to gracefully hand it off to somebody else? Things to do, things not to do, how to make sure the project is ready for the transition for when/if the time comes.

I have some feelings and experiences about this that I haven't written up yet, not sure if there is already much content on the topic elsewhere?

Also perhaps

[2016-08-27 20:08] bkeepers opened #81 "ivantomic.com is down"
Tests are currently failing due to http://ivantomic.com/projects/ospnc/ being down.

[2016-08-30 15:35] bkeepers opened #87 "Switch to Travis CI"
The tests currently use internal GitHub CI, which doesn't run when non-employees open PRs. Once the repository is public, we'll want to switch to Travis CI.

[2016-10-31 20:33] nayafia opened #180 "Create a community moderation guide"
@lee-dohm opening this issue so I don't forget. I would *love* if you wrote a community moderation mini-guide!

Right now most of the guides are 3-10 pages in a GDoc. Happy to talk through more if it's of interest. The timing is totally flexible (we're launching the first set in a few weeks, but can add new ones whenever). I think it would be a really valuable addition. :pray:

[2017-02-01 21:52] nayafia opened #194 "A guide for best practices on testing"
Tests are an important best practice in open source, yet many find it confusing. Older projects are still getting up to speed on tests, and new developers/contributors aren't always sure how to run and use tests.

Might be worth creating a separate guide around testing:

## For projects
* What open source projects need to know about tests
* How to incorporate tests into an existing project
* Writi

[2017-02-13 19:48] gjtorikian opened #227 "Subtitles missing in breadcrumbs"
![2017-02-13_11-35-46](https://cloud.githubusercontent.com/assets/64050/22900170/4361dafa-f1e2-11e6-8406-8eab2ea14d86.png)

Judging by the `/`, it seems like the page title wants to be in the breadcrumbs, but are missing instead.

[2017-02-14 00:40] benbalter opened #237 "Link to Pages version of contributing file"
It's a bit jarring to click a link on the navbar of opensource.guide and land on an anchor on github.com.  Instead if you remove the contributing file [from the excludes array](https://github.com/github/open-source-guide/blob/gh-pages/_config.yml#L7) you should be able to link to the published version.

For bonus points, you can even remove the `layout: default` and front matter, as that's include

[2017-02-14 00:42] benbalter opened #238 "Add link to the next step at the bottom of the page"
When you scroll to the bottom of an article, you're left with somewhat of a dead end. You have to traverse back up to the home page, remember what article you just read, and then click the one after that. Instead, at the end of each article, it'd be awesome if there were a link to the "next step".

[2017-02-14 00:43] benbalter opened #239 "Clicking outside the table of contents should hide the table of contents"
Steps to reproduce:

1. Go to an article
2. Click the table of contents to expand.
3. Click outside the table of contents

Expected:

Table of contents is minimized back to original state

Actual:

Nothing happens

[2017-02-14 13:59] #87 closed

[2017-02-14 15:13] benbalter commented on #238
:+1: to either approach. Maybe browsing the site isn't the ideal use case. It could be that being linked to a specific doc, reading it, doing something is what we want to optimize for.

[2017-02-14 16:12] wooorm opened #240 "Self-referential anchors for headings misplaced"
###### Steps to reproduce

1. Go to an article
2. Hover over heading
3. See funky placement of the hyperlink anchor icon thingy

<img width="514" alt="screen shot 2017-02-14 at 17 09 20" src="https://cloud.githubusercontent.com/assets/944406/22937347/9b80c6d2-f2d8-11e6-880b-2ad39407ada9.png">

[2017-02-14 16:15] bkeepers commented on #240
Thanks for the bug report! What browser and operating system are you using?

[2017-02-14 17:02] matallo opened #244 "blank space before "Contribute" link in header"
Links in the header are aligned with `display: inline-block` which creates a visual issue when hovering the link (see attached)

<img width="225" alt="screen shot 2017-02-14 at 17 53 30" src="https://cloud.githubusercontent.com/assets/36676/22939597/7e3d1f9c-f2df-11e6-94e7-cbd180f0457d.png">

This can be fixed applying a negative margin to the `<li>`, or changing the way the list items are aligned

[2017-02-14 17:18] sotayamashita opened #249 "Border remains between "Contribute" and "Subscribe to updates" elements when vertically aligned"
In mobile browser, design is broken. I think it does not need `.border-right` class, when window size is small. See below:
<img width="342" alt="screen shot 2017-02-15 at 02 12 27" src="https://cloud.githubusercontent.com/assets/1587053/22940311/cb7586ec-f324-11e6-835d-cf9db4ac7398.png">
ref: https://opensource.guide/starting-a-project/

[2017-02-14 17:24] sotayamashita commented on #249
I am working it to fix

[2017-02-14 17:34] omouse opened #250 "no mention of free/libre?"
I like the mentions of GPL and AGPL but why no mention of free/libre and the four freedoms?

[2017-02-14 17:34] Aurelsicoko opened #251 "Tools to follow open-source metrics"
Firstly, thanks for this amazing project! The open-source community needs a guide like that and I'm would be very honored to make my little contribution to it.

I'm working at a company called Strapi, and we are making OSS as well. To follow our open-source metrics, we developed a tool that provides a dashboard to keep an eye on differents metrics such as GitHub stars, npm downloads, Reddit mentio

[2017-02-14 17:53] sotayamashita commented on #249
@lee-dohm Thank you changing issue title. It makes clearly understandable 😄

[2017-02-14 18:03] VincentGarreau commented on #251
l've been looking for this for a long time! Tracking the GitHub stars is very useful when you manage open source projects. Awesome 👍🏻

[2017-02-14 18:37] mlinksva commented on #250
I suppose you're referring to the legal guide as that's mostly where various licenses are mentioned, including GPL.

As the README says the guides document "how to run and contribute to an open source project". I'm not sure how using the words free/libre or describing the four freedoms contribute to that objective. In any case 1) those aren't legal issues, so mentions would go elsewhere and 2) fee

[2017-02-14 18:37] #250 closed

[2017-02-14 18:50] mlinksva commented on #250
ps I've no idea whether it'd be a useful thing to note, but one "elsewhere" place could be https://opensource.guide/starting-a-project/#why-do-people-open-source-their-work -- ideology is one reason not mentioned.

[2017-02-14 20:54] mlinksva commented on #244
@matallo I believe #259 is a fix in case you'd like to give feedback there.

[2017-02-14 21:40] #244 closed

[2017-02-14 22:36] numrut commented on #240
The same happens in other WebKit-based browsers. Such as Midori and Epiphany.

[2017-02-14 23:45] #240 closed

[2017-02-15 00:19] natdudley opened #267 "Expand options for UX designers"
Not sure where this best lives, but it'd be excellent to see more projects do things like [Drupal's UX contribution requests](https://www.drupal.org/community-initiatives/drupal-core/usability) so that designers other than graphic designers who are new to OSS can see they are welcome and find how to contribute.

[2017-02-15 00:30] joshsimmons commented on #267
That would be awesome. In a similar vein, I've just submitted a pull request to incorporate UX/UI into the How to Contribute guide. It's not perfect but I think it's an improvement: https://github.com/github/open-source-guide/pull/268/commits/944d6b9f232020a36167d82c46e3c8f3e17744bf

[2017-02-15 01:27] aurynn opened #269 "Remove code/not-code distinction"
A large part of the conversation I've been having around this project (and #267 ties into this) is that the default framing of the guide is that code is a different kind of contribution than other contributions.

This distinction ties into the broader tech culture of positioning coding as _more important_ than other disciplines and skills, which means that the entire framing of the guide comes off

[2017-02-15 01:30] mlinksva commented on #267
I merged https://github.com/github/open-source-guide/pull/268 as it's an immediately useful improvement. More discussion and PRs welcome. I can imagine ones:

* changing the language to excise code/non-code distinction (I see another issue for this #269 as I type...)
* further refinement of https://opensource.guide/how-to-contribute/#do-you-like-to-design
* work on https://opensource.guide/buildin

[2017-02-15 03:36] hackjutsu commented on #251
I have been using **CoMetrics** for [one of my project](https://github.com/hackjutsu/Lepton) for a few days and provided feedbacks as mentioned by @Aurelsicoko.

It's great to see how the number of stars and views changes everyday.  The missing part is I don't understand why the numbers change in this way, like why it got 125 stars one day but dropped to 32 the next day and then went up again.  I'

[2017-02-15 07:42] sotayamashita commented on #227
It will be good.
@bkeepers What do you think ?

[2017-02-15 08:06] sapegin opened #273 "Ebook formats"
Thanks for a great guide! I’ve just started reading it this morning and already love it ;-)

But it’s a bit long so having it an ebook format (epub, mobi) would be very helpful. What do you think about that?

The simplest solution would be [pandoc](http://pandoc.org/). There are some issues with HTML and formatting but in general it looks acceptable.

[code]

This requires some tweaking but it’s a

[2017-02-15 08:38] numrut commented on #239
Can I work on this?

[2017-02-15 09:53] Aurelsicoko commented on #251
Thanks for your feedback! I don't think this is the right place to talk about the tool itself but the project isn't open-source for now. About the stars number, this is the purpose of CoMetrics to help you to determine why you have variations. In our case, we can precisely know the impact of a blog post or when we are doing a meetup in our community.

[2017-02-15 10:47] daminisatya opened #274 "Good to have "scroll to top" button"
For longer posts, it's always a best UX to have "Scroll to top" button.

[2017-02-15 10:47] daminisatya commented on #274
I would like to work on this, if the issue is marked as valid.

[2017-02-15 12:40] divayprakash commented on #237
@benbalter Working on it!

[2017-02-15 12:49] divayprakash commented on #237
@benbalter As I understand it, the first step to solving this involves removing the contributing file from the excludes array in `_config.yml`. This should cause the file to be included in the Jekyll page build and then I should be able to link to it from the navbar. Is this what you're looking for?

Where exactly does this need to be done? Sorry but I'm a beginner at Jekyll so I am just trying to

[2017-02-15 12:50] divayprakash commented on #237
As an aside, the same issue is present if you click on the 'About' link on the navbar.

[2017-02-15 15:09] sivadass commented on #274
+1

[2017-02-15 16:01] bkeepers commented on #273
Hey @sapegin, great suggestion!  I think it'd be great to have ebook versions.  It's not a high priority right now, but if you wanted to get a PR started, we could work on it!

[2017-02-15 16:08] #249 closed

[2017-02-15 16:48] benbalter commented on #239
@numrut go for it!

[2017-02-15 16:54] sapegin commented on #273
Awesome! I‘ll try to implement a basic script to generate epub and mobi and we‘ll see how we could integrate it.

[2017-02-15 18:47] GeekyShiva opened #278 "Create a List of Most popular OSS Projects and Organisations"
I recommend and if people like this idea , we can work on adding a list of Open Source organizations and most Popular projects in various domains .

this will be a categorized list which will cater the beginner Open Source contributor audience and help them to give a start on the topic and project of their choice.

Ideas, discussion and healthy criticism ......... Welcomed :)

[2017-02-15 20:15] TheLarkInn opened #279 "A Guide To Opensource DevRel"
I'm hoping to author some standalone content that will give the complete guide to Communication, Marketing, Developer Evangelism, and Developer Relations for an Open Source project.

I would also love to add this content here. How does everyone else feel about this? I hate providing this link because it is about myself and webpack, but I think [sharing success stories like this](https://hackernoon

[2017-02-16 01:03] sotayamashita commented on #274
@bkeepers  What do you think ?

[2017-02-16 12:13] etewiah commented on #278
Great idea.  I for one have struggled with getting exposure for my open source project!

[2017-02-16 12:26] lutzhorn commented on #278
Which 'various domains' do you have in mind?

@etewiah How would such a list increase the exposure of *your* project?

[2017-02-16 14:50] bkeepers commented on #274
I don't feel strongly either way. If someone submits a PR that is well designed an subtle, we'd consider merging it. I'm going to close this out in the mean time since this isn't something we're actively seeking, but feel free to open a PR.

[2017-02-16 14:50] #274 closed

[2017-02-16 15:00] bkeepers commented on #279
Hey @TheLarkInn. I think adding more content about specific DevRel activities would be great! Specifically, updating [finding users](https://opensource.guide/finding-users/) guide, or it might even make sense to have a guide just on branding.

Since DevRel is a buzzword that will fall out of fashion at some point (see DevOps), I'd prefer to avoid using it in the guides. Feel free to open issues fo

[2017-02-16 15:00] #279 closed

[2017-02-16 15:08] bkeepers commented on #278
Great suggestion, @GeekyShiva! Our team at GitHub has been thinking a bit about how to highlight projects, specifically ones that are good for new contributors.

I worry that trying to maintain a comprehensive list of projects will be a futile endeavor. The guides cover _examples_ of best practices, but don't aim to include comprehensive lists. Instead of including that content in the guides, I'd

[2017-02-16 15:08] #278 closed

[2017-02-16 15:15] daminisatya commented on #274
@bkeepers Cool! Will work on it and send a PR.

[2017-02-16 15:46] hzoo opened #284 "Create a guide on "healthy interactions on a project""
@bkeepers asked me to create an issue on this after I brought it up in the maintainers repo.

### for example: how to create issues (so meta)!

My thoughts on this was that I totally remember feeling like I didn't know how to even start creating an issue when I first started (similarly for creating your first PR, which should be a topic too actually).

I recently got asked about this by a new cont

[2017-02-16 15:52] bkeepers commented on #284
CCing a few people who may have some good resources or insights: @gr2m @mikeal @lee-dohm @MikeMcQuaid

I think the issue creator side is really important and currently lacking. We could later update [Maintainer best practices](https://opensource.guide/best-practices/) or add another guide for the maintainer perspective to accompany the issue creator guide.

[2017-02-16 16:04] hzoo commented on #284
I guess there's also creating beginner-friendly issues for new contributors (I learned from @gr2m)

It's way more work than just creating a new issue and waiting, but has been working very well for straightforward changes (usually refactoring/infrastructure)

An example I got from "Welcome to Open Source" https://github.com/babel/babel.github.io/issues/754 - has a cool header, explaining the issue

[2017-02-16 18:52] gr2m commented on #284
As a maintainer, creating issues which are clearly "up-for-grabs" and well documented are working great. We have a dedicated repo full of these: https://github.com/hoodiehq/camp. They do take more work, but they set expectation (It’s okay for you to just claim this, no need to ask for permission), they set a tone, they clearly communicate how much you care about others, they help onboard new contr

[2017-02-16 21:02] #239 closed

[2017-02-16 23:32] webknjaz opened #288 "i18n capabilities"
Hi,

My friends and I would like to translate this resource into Ukrainian. I saw in `CONTRIBUTING.md` that you encourage contributing translations. But I don't see any localisation/internationalisation infrastructure in the repo.

Could you please share any plans on changing the folder structure (like having one folder per locale with the same set of files as English)? Or maybe you plan using any

[2017-02-17 00:05] thejameskyle opened #289 "Guide: How to fork projects"
We talked at @maintainerati about how it would be great to document the best practices around forking projects including stuff like:

- How to make sure you really need to fork
- How to fork while keeping the original maintainer in mind
- How to setup your fork so the community can adopt it easily
- How to communicate with the community about your fork
- How to merge back in with the original proj

[2017-02-17 00:10] thejameskyle opened #290 "Guide: How to hand/take over a project"
We talked at @maintainerati about creating a guide to document how to properly change ownership of a project from both the perspectives of the original maintainer and the new one

- How to communicate with the original maintainer about expectations and goals
- How to ensure that the new maintainer will be successful
- What to do when the original author is unavailable
- What steps to take to make

[2017-02-17 03:37] sigerello commented on #288
@webknjaz I'm ready to help in Ukrainian translation.

[2017-02-17 08:44] m1guelpf commented on #288
I could also help with an spanish translation.

[2017-02-17 09:01] McAlyster commented on #288
Hey, that would be a pleasure to help you guys for a translation in french.

[2017-02-17 09:13] lukaseder opened #292 "Contribution about making OSS a business from the beginning"
Hi there, nice website.

I was browsing this part, which is always of particular interest to me:
https://opensource.guide/getting-paid

I think the whole website is a bit biased towards what is mentioned on that above link:

This is a shame. I wish our industry would step up and start being more entrepreneurial. There are a lot of us out there who see OSS as a means to an end (improved market reac

[2017-02-17 09:30] xoan commented on #288
Hi,

There is a branch named [```i18n```](https://github/open-source-guide/tree/i18n). There are no commits ahead ```gh-pages```, but seems to be there for this purpose, right?

PS. Jekyll has a plugin for internationalization that looks very easy to use and mantain: [Jekyll Multiple Languages plugin](https://github.com/Anthony-Gaudino/jekyll-multiple-languages-plugin)

[2017-02-17 10:12] numrut commented on #288
Hi @xoan. That branch was created just about 3 hours ago. It is likely it was the result of this issue.

I think, we have to wait a little for the mainteiners' clarifications.

[2017-02-17 10:21] xoan commented on #288
@numrut wrote:

I agree :)

[2017-02-17 13:57] lutzhorn commented on #269
@aurynn Your use of the word 'framing' sounds like you think this is done intentionally. As I am no native speaker, please tell me if I understand you correctly here. Thanks!

[2017-02-17 14:17] #227 closed

[2017-02-17 14:58] lutzhorn opened #294 "Describe how to deal with false reports of CoC violations"
The section about [Enforcing your code of conduct](https://opensource.guide/code-of-conduct/#enforcing-your-code-of-conduct) only makes sense if the report about a CoC violation is valid. But it may also happen that a report is false: the violation did not happen. The guide must mention what should be done in this case.

Right now the guide gives the impression that every CoC violation report is v

[2017-02-17 16:04] bkeepers commented on #288
Hey everyone, thanks for being so eager to help translate! I started https://github.com/github/open-source-guide/pull/295 to work on making this easier and would love feedback.

@webknjaz if you're up for it, I'd love your help working through this on a Ukrainian translation.

[2017-02-17 17:35] webknjaz commented on #288
Thanks @bkeepers, I'm in. I'll be glad to help!
So what's the plan? Create new branch with Ukrainian translation in a fork having a bunch of articles in a folder structure mimicking English one?

[2017-02-17 17:45] bkeepers opened #299 "Translation: Ukrainian"
_**Heads up!** This is a trial of the process outlined in #295. Please don't start any other translations until we've worked through the process once with this one._

---

Repository: https://github.com/open-craft-guild/open-source-guide
Preview: https://open-craft-guild.github.io/open-source-guide/
Locale: `uk-UA`

On the `gh-pages` branch of your fork:

- [ ] Update `title`, `description`, and `

[2017-02-17 17:50] bkeepers commented on #299
@webknjaz first let's get your fork of the site running. So fork the repo if you haven't already, and since we're working from the `i18n` branch, you may want to change that to your [default branch ](https://github.com/webknjaz/open-source-guide/settings/branches) and set [GitHub Pages to build that branch](https://github.com/webknjaz/open-source-guide/settings).

[2017-02-17 17:55] webknjaz commented on #299
@bkeepers It looks I cannot set custom branch for GitHub Pages

[2017-02-17 17:56] webknjaz commented on #299
I'm going to have the repo here: https://github.com/open-craft-guild/open-source-guide

[2017-02-17 18:03] bkeepers commented on #299
Ahh, sorry, you're right. So you're going to have to work out of the `gh-pages` branch. Sorry for the confusion.

[2017-02-17 20:01] CoralineAda commented on #294
There is a PR that adds content that hopefully addresses your concerns. You can comment [here](https://github.com/github/open-source-guide/pull/300)

[2017-02-17 20:05] bkeepers commented on #294
Thanks @lutzhorn for bringing it up, and thanks @CoralineAda for the PR!

[2017-02-17 22:25] aurynn commented on #269
@lutzhorn I don't think it was done intentionally, no. What I think is that it's the viewpoint that people in tech are taught is the primary and default viewpoint, and that it is generally unquestioned or unchallenged.
Because it's the taught default, we end up with guides that are framed in that viewpoint, which is what I opened the issue to address. 😄

[2017-02-18 00:44] SwartzCr opened #301 "Explain license of incoming contributions"
It's briefly mentioned here: https://opensource.guide/legal/#does-my-project-need-an-additional-contributor-agreement
But should be updated in regards to the changes to the github ToS that refer to this: https://help.github.com/articles/github-terms-of-service-draft/
So consider this a placeholder issue for when that ToS is solidified

[2017-02-18 05:22] HansZwetslootAktionAktivAnarkist commented on #284
l have a projekt at aerolab and l got a lot of problem finding coworkers. Now l tries linkedin. @HansPZwetsloot

[2017-02-18 13:25] xtuc opened #303 "Suggestion where to contribute"
Lots of people want to contribute but don't know where.

I recently launched a service which aggregate issues for beginners: https://contributor.ninja.

Discussion on Twitter: https://twitter.com/svensauleau/status/823189011044806658

I would be happy to make a PR if this is accepted.

Thanks,
Sven.

[2017-02-18 17:43] kytrinyx commented on #180
Adding Lee's community manager curriculum as a resource: https://github.com/lee-dohm/community-manager

[2017-02-18 17:44] kytrinyx opened #304 "[suggestion] New guide: creating your first pull request"
@hzoo wrote in #284

@sgrif did a great talk called "The Anatomy of a Pull Request". It doesn't look like the video ever got posted anywhere, but if it does it would make an excellent resource.

@cbeams wrote https://chris.beams.io/posts/git-commit/ which is my all-time-favorite article about how to write good git commits. It is also applicable to pull requests.

@keavy wrote https://github.com/bl

[2017-02-18 17:45] kytrinyx commented on #284
💯

I think this would make sense as a stand-alone guide. I've opened #304

[2017-02-18 17:48] bkeepers commented on #303
Hey @xtuc, contributor.ninja looks good! We have some similar projects [listed in the guides](https://opensource.guide/how-to-contribute/#finding-a-project-to-contribute-to), so feel free to open a pull request to add your project to this list.

Also, just a heads up that we (the team at GitHub that worked on these guides) are _very_ interested  in these sites that match new contributors up with p

[2017-02-18 17:48] #303 closed

[2017-02-18 17:49] sgrif commented on #304
/cc @rafaelfranca You mentioned we might be able to get the video of when I gave it internally?

[2017-02-18 17:56] hzoo commented on #304
Awesome 😄! Would be cool to talk about:

- some of the tips we all have (almost like RFCs)
- as well as the workflow: initial PR (title, description, who to ping (if at all), maybe should make an issue before the PR, taking feedback and responding to comments, awareness that merging a pr may not be immediate or may not even be accepted unless an issue was created before and was approved, time to m

[2017-02-19 11:27] xtuc commented on #303
Ok great, thanks for your answer.

I'm happy to discuss this further if you'd like to.

[2017-02-19 18:35] webknjaz commented on #288
@sigerello and @numrut,
I've invited both of you to join [the team](https://github.com/orgs/open-craft-guild/teams/translators). I'll need your emails to send you slack invitations as well.

[2017-02-19 20:02] anxolerd commented on #299
@bkeepers, @webknjaz: so what is the plan for translations?

- one fork keeps the translation, which is a completely standalone website?
- all translations are kept in the single repo in the sibling directories like `en/`, `ua/`, etc?

If the latter, how is the following supposed to work:

?

[2017-02-20 04:42] hzoo opened #308 "Styling: emoji's in blockquotes (with italics)"
Dono if it's just me but while I was reading through the excellent https://opensource.guide/how-to-contribute guide (and other than those being too real)..

I was wondering if we might want to change the emoji styling if possible?

Now

<img width="679" alt="screen shot 2017-02-19 at 11 41 01 pm" src="https://cloud.githubusercontent.com/assets/588473/23112241/e6106c84-f6fc-11e6-936a-165babd3af1d.p

[2017-02-20 11:34] webknjaz commented on #299
@bkeepers
Can we integrate [this](https://github.com/github/open-source-guide/blob/i18n/docs/templates/translation-issue-template.md) into default issue template?

[2017-02-20 11:38] webknjaz commented on #299
@bkeepers how to keep different translation strings in `_config.yml`?

[2017-02-20 11:55] HansZwetslootAktionAktivAnarkist commented on #304
hmm

[2017-02-20 11:57] HansZwetslootAktionAktivAnarkist commented on #304
l still looking for coworkers to my project. aerolab interacts poorly

[2017-02-20 14:29] bkeepers commented on #308
I'm seeing that too. It's weird that emoji get italicized. I'm not sure if there's a way to prevent that, or if we have to restructure the content to avoid using a blockquote there.

Any suggestions?

[2017-02-20 14:44] bkeepers commented on #299
@anxolerd this is the plan for now. I tried to explain it a little more clearly in https://github.com/github/open-source-guide/pull/295#issuecomment-281096140

@webknjaz don't worry about that for now. Update your fork with the Ukranian translations.

[2017-02-20 15:53] hzoo commented on #308
Styling isn't by strong suit 😄

Since an emoji is text just like the rest there isn't an easy why to make it apply without it applying to the rest of the text other than wrapping the emoji or the other text in it's own span and applying a different style to it?

[2017-02-20 15:56] hzoo commented on #308
<img width="1049" alt="screen shot 2017-02-20 at 10 54 13 am" src="https://cloud.githubusercontent.com/assets/588473/23132326/34b74a20-f75b-11e6-8d02-d3d5a79ac090.png">

Actually since the other text is an an `em` could do a hack like

[code]

[2017-02-20 15:57] wooorm commented on #308
I don’t think italics is needed for the block-quotes, why not use a slightly lighter colour, like below?

... and I was just about to post about the double italics but @hzoo mentioned that first 😄

[2017-02-20 17:26] bkeepers commented on #288
@webknjaz just to clarify what I tried to articulate in #295, but I think your fork should _only_ contain the Ukranian translation.

If anyone has free time this week and interest in doing another translation, I'd be up for kicking that off and opening an issue like #299 for your language. I don't want to do more than a couple while we're still ironing out how exactly it will work, but a couple mi

[2017-02-20 20:35] #308 closed

[2017-02-20 22:46] bkeepers opened #316 "Improving ebook formats"
@sapegin got us rolling with ebook formats in #273. Like everything with these guides, the ebooks will never be "done", but we should make a concerted effort to make them a first-class citizen of this project. Here's a list of what else needs done:

- [x] Generate epub / mobi formats #305
- [ ] Generate and publish ebooks as part of build or release process
- [ ] Create a custom covers #318
- [ ]

[2017-02-21 08:23] m1guelpf commented on #316
Subscribing

[2017-02-21 09:23] m1guelpf commented on #316
Subscribing

[2017-02-21 09:26] sapegin commented on #316
@m1guelpf Just click “Subscribe” button, no need to tell everyone.

[2017-02-21 09:30] m1guelpf commented on #316
@sapegin Sorry 😞

[2017-02-21 16:36] aleen42 opened #322 "About translations"
Hello, I am a front-end developer from China, and I have always translated some articles into Chinese. Here I have found that this open source guides can be deliver widely by translating them into different languages. However, is there any guideline for this translating? For instance, to create a plan for translation and provide a apparent list of guides contributed by others with issues, so that

[2017-02-21 16:44] lee-dohm commented on #322
Investigation into providing translations and creating guidelines is ongoing in #295 and #299. You may want to subscribe there for updates. Since this request is a duplicate of those, I'm going to close this one.

Thanks for reaching out and offering to help!

[2017-02-21 16:44] #322 closed

[2017-02-21 16:50] lee-dohm commented on #62
From @thejameskyle in #290:

[2017-02-21 19:45] thejameskyle commented on #290
Oh wow, maybe I should read the guide on how to search for issues first.

[2017-02-21 22:33] danielbachhuber opened #323 "Requesting and submitting new features"
It'd be helpful to have some language (maybe in "[How to Contribute](https://opensource.guide/how-to-contribute/)") around:

1. How to request a new feature (e.g. open an issue for discussion before investing time into it, potentially).
2. How to submit a new feature (e.g. pull request etiquette / don't include multiple new features in the same pull request).

[2017-02-21 23:55] kytrinyx commented on #304
One thing that came up at Maintainerati last week: project scope will determine whether or not a PR will be accepted (or should be accepted). One thing we might talk about is how to figure out before putting in a whole lot of work whether or not this change is something the project is open to / willing to consider.

[2017-02-22 08:54] #294 closed

[2017-02-22 15:23] hzoo commented on #304
👍 . Kinda like what I was saying about not accepting a PR unless an issue was created before if it's a big change. We can also mention a more formal process such as doing RFCs (https://github.com/emberjs/rfcs).

[2017-02-22 16:34] MikeMcQuaid commented on #238
CC @nayafia to think about this when she's back.

[2017-02-22 17:07] DHADHIE commented on #294
What do u mean?

[2017-02-22 17:57] webknjaz commented on #288
@bkeepers any thoughts on localisation of pictures? should they go into the locale folder?

[2017-02-23 07:35] lutzhorn commented on #294
@DHADHIE What in this ticket are you referring to? Whom do you ask?

[2017-02-23 09:00] Gotgot59 opened #325 "Request of possibility Multi-language of the open-source-guide"
Hello,
I Rapidly look and read the document you build, i find it interesting and helpful to a lot of project.
It's a document who can help the administrator of software development  in their task.
But I'm French, and so i like to read in French, And people with who i thing work on my soft will discuss in French. I think German, Spanish too need to can read the document in their native language to

[2017-02-23 12:19] Moc commented on #325
https://github.com/github/open-source-guide/issues/299

[2017-02-23 13:18] Gotgot59 commented on #325
It's seem they chose crowdin-sync or https://www.transifex.com/ because of compatibility difficulty of the Github page and Jekyll specification. #295 is useful too

[2017-02-23 14:25] webknjaz commented on #325
This issue duplicates #288

[2017-02-23 15:10] Gotgot59 commented on #325
But for the moment, their no starting translation ? Or @webknjaz start one fork choosing a technology of translation for Ukrainian ?

[2017-02-23 15:45] #325 closed

[2017-02-23 16:00] webknjaz commented on #325
@Gotgot59 the Ukrainian is a pilot translation, it's been decided to give forking approach a try and see if keeping translations in forks will work well.

Also @bkeepers pointed out that another [similar translation work is welcome](https://github.com/github/open-source-guide/issues/288#issuecomment-281137887), he is willing to create another ticket like #299 for that.

[2017-02-23 16:23] bkeepers commented on #288
@webknjaz oooh, great question. For now, maybe create a locale folder in `assets/images/`?

[2017-02-23 19:01] webknjaz commented on #288
sounds good

[2017-02-24 06:05] jimmierock opened #327 "License change discussion seems counter intuitive to me"
Under Section 6, the discussion noted that starting with a more permissive license gives the owner more options later on. I.e., starting with MIT makes it easy to change to a copy-left.

This seems wrong.

When you start with a MIT, you essentially gave away all rights to your project. You can't really claim them back. The opposite seems true, starting with a copy-left or more restrictive license,

[2017-02-24 08:13] lutzhorn commented on #327
It is true that all contributions up to the license change are licensed under the first license (MIT). But you as the copyright owner can always change the license for *future* contributions.

So you are correct that you can't 'claim them back'. But you can say that for example the MIT license does only apply to the project up to a certain point and that from this point on it is GPL licensed.

If

[2017-02-24 09:00] MikeMcQuaid commented on #284
My TextExpander template for this I use regularly is:

To help us debug this issue can you explain:
- What you were trying to do (and why)
- What happened
- What you expected to happen
- Step-by-step reproduction instructions (with as minimal input data as possible)

[2017-02-24 16:23] jimmierock commented on #327
Ah, that makes sense.

But why would the previous license matter for changing future contributions? Wouldn't re-licensing future contributions essentially equivalent to licensing a new product? Assuming you are the original copyright owner of course. I understand that previous licenses have an effect on one's ability to license future contributions if you received the product under a restrictive l

[2017-02-24 17:03] mlinksva commented on #327
@lutzhorn is right. Take his second paragraph, and swap the positions of MIT and GPL. That doesn't work. One can start with a MIT project and switch the project to GPL at some point in the future, but not vice versa (without getting all copyright holders' permissions).

@jimmierock losing this as I don't think there's anything immediate to change in the guide, but feel free to discuss further, or

[2017-02-24 17:03] #327 closed

[2017-02-25 08:00] lijiangsheng1 opened #328 "Translation: Chinese"
Repository: https://github.com/OCselected/open-source-guide
Preview: https://ocselected.github.io/open-source-guide/
Locale: `zh-CN`

On the `gh-pages` branch of your fork:

- [x] Update `title`, `description`, and `locale` in `_config.yml`
- [x] Copy `_data/local/en-US.yml` to a new file with the name of your locale and translate the strings.
- [x] Create a new directory in `_articles/` for your

[2017-02-25 23:01] webknjaz commented on #299
@bkeepers

I've got an issue with a draft article I just translated: https://travis-ci.org/open-craft-guild/open-source-guide/builds/205385173

So the anchors for titles are generated in cyrillics and then urlencoded. Obviously they need to be changed in ToC (and I did that). Any ideas?

[2017-02-26 00:20] lee-dohm commented on #328
As stated in #299, please don't start any new translations until we've had the opportunity to make sure our proposed process works. Since this isn't something we're ready to support, I'm going to close this Issue for now. You may want to subscribe to #299 for updates in the meantime.

[2017-02-26 13:10] bkeepers commented on #328
@lee-dohm, I actually said in https://github.com/github/open-source-guide/issues/288#issuecomment-281137887:

My mistake for not communicating that more clearly.

[2017-02-26 13:12] bkeepers commented on #328
@lijiangsheng1 Thanks for kicking this off!  Would you mind pushing your translations to the `gh-pages` branch so GitHub Pages builds the website for them?

[2017-02-26 17:32] lee-dohm commented on #328
Ah ok, I missed that. Thanks @bkeepers and my apologies :bow:

[2017-02-27 03:22] theo-armour opened #332 "Broken links in https://github.com/github/open-source-guide/blob/gh-pages/_articles/legal.md"
Broken links in https://github.com/github/open-source-guide/blob/gh-pages/_articles/legal.md

In section 'What does my company's legal team need to know?'

'A good example is [Rackspace's Model IP and Open Source Contribution Policy]( https://processmechanics.com/2015/07/23/a-model-ip-and-open-source-contribution-policy/ ).'

And

— @vanl, "[A Model IP and Open Source Contribution Policy]( https:/

[2017-02-27 04:39] bkeepers commented on #332
@vanl it looks like the URLs on your site recently changed. Any chance you're going to set up redirects for old URLs?

[2017-02-27 05:05] #332 closed

[2017-02-27 13:57] lijiangsheng1 commented on #328
@bkeepers thanks for your encourage.  @lee-dohm It's ok .

OK, I will push branch which name is `gh-pages-translation-chinese`.

[2017-02-28 07:35] theo-armour opened #336 "404 Errors for two web fonts"
Open developer console

go to: https://opensource.guide/

Note two identical error messages:

for

https://opensource.guide/static/fonts/roboto/roboto-regular.woff
https://opensource.guide/static/fonts/roboto/roboto-light.woff

[2017-02-28 08:27] theo-armour opened #337 "Questions regarding LICENSE page"
Here's the link:

https://github.com/github/open-source-guide/blob/gh-pages/LICENSE

## Lack of Copyright Notice
There appears to be no copyright notice on this page.

Compare with the following - all of which have copyright notices somewhere on the page

* https://github.com/github/choosealicense.com/blob/gh-pages/LICENSE.md
* https://github.com/github/gh-ost
* https://github.com/github/orchestra

[2017-02-28 17:05] mlinksva commented on #337
A copyright notice is not required. License notices are at https://github.com/github/open-source-guide/#licenses

The other repos you point at are using licenses that come in the form of a template. Many licenses (basically, the longer ones) aren't templates, and are intended to be used verbatim, with notices elsewhere, such as a README at the project level, or in file headers.

Closing as I don't

[2017-02-28 17:05] #337 closed

[2017-02-28 17:18] kytrinyx commented on #323
I think there are three ideas here, that we might treat individually (or not).

1. "here's how to avoid investing time into something that the project doesn't want"
1. "figure out how the project wants you to suggest features"
1. "here's how to open a great pull request"

In the [opening an issue](https://opensource.guide/how-to-contribute/#opening-an-issue) section of How to Contribute we say:

T

[2017-02-28 17:54] kytrinyx commented on #336
When I look at the source for https://opensource.guide/ the reference that I see to the Roboto font is https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i which returns a 200 OK.

I'm on a Mac, and if I go to the Font Book and disable Roboto, then I am able to reproduce the 404 Not Found.

[2017-02-28 17:57] kytrinyx commented on #336
@sophshep would you take a look at this one?

[2017-03-01 06:46] theo-armour commented on #336
I am receiving the error on two W10 machines running Chrome.

Also one W10 machine running FF.

I am not able to reproduce the error on a Google Pixel Chromebook running a Chrome browser

[2017-03-01 06:49] theo-armour opened #341 "Should the Open Source Guide include a copyright notice?"

[2017-03-01 07:31] theo-armour commented on #341
This is a continuation of #337

@mlinksva stated

I agree with this assertion.

See https://en.wikipedia.org/wiki/Copyright_notice

And on a higher plane - especially given this is a project about freely sharing code - then knowledge should be free and copyright issues a thing of the past.

But even if a copyright notice is not required in the US, might it be good to have one anyway?

The Open Sou

[2017-03-01 08:20] numrut commented on #336
Error doesn't occurs if Roboto is installed on the system. Otherwise, Roboto is correctly included from Google Fonts but then its path is overwriten by the `/assets/css/index.css` file, which defines non-existent paths to font files. And initially it comes from the `/node_modules/primer-marketing-support/lib/fonts.scss` file.

So, we can either disable that file or just swap respective `link` tags

[2017-03-01 12:20] GeekyShiva commented on #292
@lukaseder are you suggesting that there should be more emphasis on moving towards revenue based model for Open source projects , but can you give a valid point why such approach should be taken? in contrast to a normal unbiased approach

on the other hand the https://opensource.guide/getting-paid is largely unbiased and puts forward the look of present OSS as it is being fair and balanced .

[2017-03-01 12:50] nandomoreirame opened #342 "Translation: Brazilian Portuguese"
Repository: https://github.com/nandomoreirame/open-source-guide
Preview: https://nandomoreirame.github.io/open-source-guide
Locale: `pt-BR`

On the `gh-pages` branch of your fork:

- [x] Update `title`, `description`, and `locale` in `_config.yml`
- [x] Copy `_data/local/en-US.yml` to a new file with the name of your locale and translate the strings.
- [x] Create a new directory in `_articles/` fo

[2017-03-01 14:15] bkeepers commented on #342
Hey @nandomoreirame, thanks for kicking this off! Just so you're aware, the translation process is still very much a work in progress. So you're signing up for both glory and suffering.

First, let's get your fork rendering with the changes in #295. To do that, you'll need to merge the `i18n` branch in to your `gh-pages` branch and push to your fork. Ideally, GitHub Pages would let us do this from

[2017-03-01 14:18] bkeepers commented on #328
@lijiangsheng1, let's get your fork rendering on https://ocselected.github.io/open-source-guide/. To do that, you'll need to merge the `gh-pages-translation-chinese` branch in to `gh-pages` and push to your fork. Once you've pushed to the `gh-pages` branch, the guide should show up on https://ocselected.github.io/open-source-guide/. This way people can see the progress as your translation progress

[2017-03-01 14:21] bkeepers commented on #299
Hey @webknjaz, that's odd.  I'll look into it.

In the mean time, I'd like to get your fork rendering on https://open-craft-guild.github.io/open-source-guide/. To do that, you'll need to merge the `gh-pages-translation/uk-UA` branch in to `gh-pages` and push to your fork. Once you've pushed to the `gh-pages` branch, the site should build and guide should show up onhttps://open-craft-guild.github.i

[2017-03-01 14:28] sophshep commented on #336
I can take a look at this this week and fix.

Pinging @github/design-systems which is the team responsible for Primer.

[2017-03-01 15:17] lukaseder commented on #292
Well :)

Your existing page is _very_ biased in fact. It's biased towards OSS being an undisputable goal per se (and then optionally asking for money), rather than writing software for a living (and then choosing a licensing / marketing / sales model, which may or may not include OSS).

My suggestion was in favour of removing or weakening your existing bias, or at least of discussing the option th

[2017-03-01 15:59] lutzhorn commented on #292
I don't see why helping $COMPANY getting a foot in my door is a recommendable thing, especially if $COMPANY is using FLOSS only for marketing reasons.

[2017-03-01 16:46] #301 closed

[2017-03-01 17:27] mlinksva commented on #341
Close, all [Berne and TRIPS signatories](https://en.wikipedia.org/wiki/List_of_parties_to_international_copyright_agreements) agree that formalities (of which copyright notice is one) aren't required. I've looked in the past for jurisdictions outside of this set that clearly have copyright law and require formalities and haven't found any research about this; probably because if they exist they ar

[2017-03-01 20:13] GeekyShiva commented on #292
@lukaseder i got your point .... somewhat , why don't just make the damn changes and then we can further look upon pushing it to the master ?? What say ?

It looks somewhat correct the licensing part but i highly recommend please fork the repo and make changes .....i can contribute to it further once you are done here :)

[2017-03-01 21:12] kytrinyx commented on #341
Does that mean that each author owns the copyright of their own words? If I submit a sentence to a guide, am I an author? Or is it the original author of the document?

[2017-03-01 21:16] lutzhorn commented on #341
One sentence probably is not enough, there is something like Threshold of originality ("Schöpfungshöhe" in German).

[2017-03-01 21:26] mlinksva commented on #341
@kytrinyx yes, but keep in mind the author may be corporate in the case of works for hire; at this point the vast majority of the content is copyright GitHub. No, not only the original author.

[2017-03-01 21:35] CesarNog commented on #342
Hey all, I am willing to help with Brazilian Portuguese language as well. How can I help?

[2017-03-01 21:37] webknjaz commented on #299
@bkeepers
I've already worked around the issue with cyrillics by putting urlencoded yaml keys there, wrapped with quotes.

I've configured `master` branch to serve GitHub Pages. But after every push I'm getting the following error:
[code]

[2017-03-01 22:12] theo-armour commented on #341
@kytrinyx

**> Does that mean that each author owns the copyright of their own words? If I submit a sentence to a guide, am I an author? Or is it the original author of the document?**

Good question.

See: https://en.wikipedia.org/wiki/Threshold_of_originality << @lutzhorn

Some thoughts:

Short phrases are not copyrightable

* https://www.copyright.gov/help/faq/faq-protect.html
    * See: How do

[2017-03-01 22:39] #341 closed

[2017-03-01 22:52] theo-armour commented on #341
@mlinksva

Thank you for your gentle, informed and considered reply to my question.

I commend you on the decision at add a copyright notice to the Open Source Guide - but I can understand that you might have been done with a heavy heart.

So would it be possible to turn the inclusion into a learning opportunity?

How about adding under the notice a message something like the following?

Also how

[2017-03-01 23:29] mlinksva commented on #341
Thanks @theo-armour. It'd be an interesting thing to turn the project legal notices into a learning tool. Just about everything could be annotated with an explanation of why it is. But that'd be a significant amount of work, likely not a good fit for this project, and I don't want to start down that road by adding just an explanation of copyright notices.

[2017-03-02 01:58] bkeepers commented on #292
Reminder that this is a place for respectful conversations. I've locked the conversation for now and will reopen it in a few days.

[2017-03-02 11:41] luciano-jr commented on #342
I am available to help with pt-BR translation as well.

[2017-03-02 13:51] lijiangsheng1 commented on #328
@bkeepers Thanks for your help. I just merged `gh-pages-translation-chinese` to gh-pages`, But [https://ocselected.github.io/open-source-guide/](https://ocselected.github.io/open-source-guide/) not work, Could you help me  review that ?

[2017-03-02 18:07] sophshep commented on #336
I have [a PR](https://github.com/github/github/pull/69565) open for a fix. Once it's published to the npm module, we'll be able to use it here.

[2017-03-02 23:08] nayafia commented on #279
:thumbsup: Adding a section on evangelism in the Finding Users guide (especially ongoing efforts, not just initial spreading the word) would be particularly useful. Please do it!

[2017-03-02 23:22] nayafia commented on #237
I'm :thumbsup: if someone wants to submit a PR with this (for both "About" and "Contribute" links)

[2017-03-02 23:25] nayafia commented on #238
+1 to @sophshep's comments: since these are now standalone guides, we don't necessarily want to link to the "next" guide. But it would be good to give people something to do at the end.

I'm also :thumbsup: on either approach. "View related guides" would be ideal, but we don't currently have perfect content for all guides (ex. Legal doesn't really have similar guides).

Let's start with a simple l

[2017-03-02 23:32] nayafia commented on #251
Hi @Aurelsicoko! Thanks for the suggestion (and sorry for delayed reply, I've been on vacation).

CoMetrics looks like an awesome tool (thank you for making it!). However, we've added something to our policy, to manage incoming contributions better:

I'm closing this issue as a result, but hopefully someone will add it if they find it useful. 😊

[2017-03-02 23:32] #251 closed

[2017-03-02 23:44] nayafia commented on #267
Hey @natdudley! It seems like #268 was a useful improvement. I also just added the Drupal example specifically in #345.

I'm going to close this issue as it seems it's been sufficiently addressed, but if anybody would like to tackle any of @mlinksva's suggestions above, or have ideas for other things they'd like to add, feel free to open a new issue or PR.

[2017-03-02 23:44] #267 closed

[2017-03-02 23:54] nayafia commented on #269
Closing this issue in favor of #346. Additional feedback on that PR welcomed.

[2017-03-02 23:54] #269 closed

[2017-03-02 23:57] nayafia commented on #273
Closing this via #305. Additional ebook needs are being discussed in #316.

[2017-03-02 23:57] #273 closed

[2017-03-03 00:03] nayafia commented on #289
I'm :thumbsup: on this, if someone wants to tackle it!

We'll need to clarify that this is about "project forks" and not a lightweight "GitHub"-type fork (*don't I just click the fork button?* :trollface:).

We should also link to this guide from the "Leadership and Governance" guide.

[2017-03-03 00:10] nayafia commented on #323
Hi! There's some info in "How to Contribute" that addresses these points, specifically:

* ["Communicating Effectively"](https://opensource.guide/how-to-contribute/#communicating-effectively)
* ["Opening an Issue/PR"](https://opensource.guide/how-to-contribute/#opening-an-issue)

What else were you thinking of adding?

[2017-03-03 00:16] nayafia commented on #284
For this section we have ["Communicating Effectively"](https://opensource.guide/how-to-contribute/#communicating-effectively)

This part should go into ["Opening an Issue"](https://opensource.guide/how-to-contribute/#opening-an-issue), feel free to expand on that section.

I would loooove to see something for the issue creator's side. As @bkeepers suggested, that could become a section in the "Bes

[2017-03-03 02:37] TheLarkInn commented on #279
Absolutely. I plan to :-D

[2017-03-03 09:22] Aurelsicoko commented on #251
Thank you @nayafia, I completely understand :)

[2017-03-03 10:54] mxstbr commented on #251
That's a good policy 👏

[2017-03-03 11:01] webknjaz commented on #299
@bkeepers I'd appreciate any help w/ investigation of such error. I'm able to build and serve this site locally w/ `jekyll s`

[2017-03-03 11:07] webknjaz commented on #288
@bkeepers there's additional concern, which bothers me for a while: fixes or improvements to original articles go to this repo and there's no way to automatically confirm that translated version still corresponds original one.
I'm thinking of adding a commit hash of the repo state to translated article metadata stating that it's valid for that version. There could be an automated check with notifi

[2017-03-03 12:01] lutzhorn commented on #251
I find nothing on this website about a license or ToS. The main site hosts http://strapi.io/terms and http://strapi.io/licenses:

So the Strapi services are free to use but not Free as in Free Software. I vote against including a reference to a service like this.

[2017-03-03 13:24] Aurelsicoko commented on #251
@lutzhorn We didn't take the time to make a proper website for CoMetrics but we are hosted CoMetrics as a subdomain because it was dedicated for an internal use only. So this is the why and how. We just opened this issue to share the tool but as I said we completely understand the position.

[2017-03-03 14:09] vcapretz commented on #342
@nandomoreirame I would like to help you with the translation! what's the current status? can I fork your repo and start working with you?

[2017-03-04 16:18] bkeepers commented on #328
Hey @lijiangsheng1, sorry for the issue. It's been fixed in #348. If you merge the latest changes from the `i18n` branch in #295 into your `gh-pages` branch, it should work now.

[2017-03-04 16:22] bkeepers commented on #342
Hey @nandomoreirame, there was an issue preventing the site from building on forks that has been fixed. If you merge the latest from the `i18n` branch into your `gh-pages` branch, it should render on https://github.com/nandomoreirame/open-source-guide/ now

[2017-03-04 17:18] nandomoreirame commented on #342
Thanks @bkeepers I do it 👍  look > https://nandomoreira.me/open-source-guide/

@CesarNog @luciano-jr @vcapretz Can you help yes, just give a fork in the repo
https://github.com/nandomoreirame/open-source-guide/

Thanks guys 🤘

[2017-03-04 18:57] webknjaz commented on #299
@bkeepers I've done some dirty merging of WIP and "under review" branches into `master` which is set up to serve gh-pages. Here's how it looks so far: https://open-craft-guild.github.io/open-source-guide/
P.S. Nothing is merged into the main branch yet. The texts are under review (@lambdabooks linguists are helping us).

[2017-03-04 19:03] vcapretz commented on #342
@nandomoreirame I started translating and there's a page about maintainers, but I don't think "mantedor" is a good translation for that world, have any suggestions?

[2017-03-04 19:27] theo-armour opened #350 "notices.md ~ link at bottom of page is broken"
notices.md ~ link at bottom of page is broken

BTW, it would be use to know what image in the Guides this link refers to.

[2017-03-04 19:40] mlinksva commented on #350
The link works on the website https://opensource.guide/notices/

As far as I know there's not a good way to make the link work in both places given the current structure of the site, other than by making the link in `notices.md` absolute. Maybe that is the right thing to do.

[2017-03-04 20:11] lnfnunes commented on #342
@vcapretz AFAIK the correct is "mantenedor"...

[2017-03-04 20:23] vcapretz commented on #342
@lnfnunes thank you!

[2017-03-05 01:29] theo-armour commented on #350
@mlinksva

Thank you for catching that I came to this page from

https://github.com/github/open-source-guide/blob/gh-pages/notices.md

Interesting. I've never seen this page.

How do you get to it from https://opensource.guide/ ?

[2017-03-05 05:01] mlinksva commented on #350
https://github.com/github/open-source-guide/search?q=notices indicates it's linked from `_articles/legal` which is also served as https://opensource.guide/legal/ and `README.md` which is the "About" link on the website but is only served from the repo.

(`_config.yml` is where you can find which documents are served from a path other than the one they're at in the repo or are excluded from being s

[2017-03-05 13:29] lijiangsheng1 commented on #328
@bkeepers It's work now,Thanks very much! I will update it.

[2017-03-05 18:33] bkeepers commented on #350
#315 is trying to fix that. 🤞

[2017-03-05 19:36] vcapretz commented on #342
@nandomoreirame translated the first file > https://github.com/nandomoreirame/open-source-guide/pull/1

[2017-03-06 04:49] theo-armour commented on #350
@mlinksva

Thank you for pointing out how easy it is to embed a GitHub search query in an issue.

May I suggest that the page in question be renamed:

From: notices.md
To: legal-disclaimer-and-notices.md

Also that the links in the README.md and https://opensource.guide/legal/ are gives as "Legal Disclaimer and Notices.

it's always a good thing for links and URLs be be very similar.

I can put in

[2017-03-06 05:25] theo-armour opened #355 "Open Source Guide(s) - singular or plural?"
The title on the web page is: 'Open Source Guides'
The link is https://opensource.guide/
The tab title is 'Open Source Guide'
The GitHub repo is 'open-source-guide'
The blog post says 'Open Source Guides'

On the other hand '[guides.github.com]( https://guides.github.com)' is a very different thing.

It might be a good thing to decide one way or another what the title of the project really is.

[2017-03-06 17:28] nayafia opened #357 "Add more about monetization to Getting Paid guide"
In an email convo with @isaacs, he wondered why we didn't explicitly discuss the VC route in ["Getting Paid for Open Source Work"](https://opensource.guide/getting-paid/).

I intentionally didn't touch on business models because I think it only applies to a small percentage of potential readers' situations. I wanted this guide to be more broad and answer the question, _"How do I get paid for my ti

[2017-03-06 19:23] mlinksva commented on #350
@theo-armour I'd rather not do that renaming. In the repo context, a file called `NOTICES` (of whatever case, with or without extension) is a convention, and in the web context, I prefer short but meaningful paths to URL SEO. But maybe I'm old fashioned. And I don't really care very much one way or the other.

I'm closing this as it seems the issue raised will be fixed when #315 ships and there's

[2017-03-06 19:23] #350 closed

[2017-03-07 06:23] theo-armour commented on #357
@nayafia

Monetizing start-up open source projects is a fascinating field of thought - and we are just at the beginning of the possibilities.

But I agree that:

What the 'Getting Paid for Open Source Work' does not mention is that much - maybe even most - open source work is carried out by salaried peeps.

Think of:

* Linux, BSD, Chrome OS and all the open source operating systems
* Python, PHP,

[2017-03-07 06:41] isaacs commented on #357
I agree with @theo-armour, the number 1 way that OSS contributors pay their bills is with full-time programming jobs, and much (most?) of OSS contributions are made on the clock.

[2017-03-07 06:44] isaacs commented on #357
(sorry premature submit)

The reason why I brought up VC in our email conversation is that, in the context of foundations, kickstarters, and other "self-funding" routes, VC is a pretty common and worthwhile avenue to explore.  But really, the vast majority of OSS projects never crowdfund, join a foundation, or create a corporation.  They remain side (or main) projects of people working for a compa

[2017-03-07 16:38] #355 closed

[2017-03-07 17:11] nayafia commented on #357
@theo-armour oh interesting. I agree, that was the intent behind [this section](https://opensource.guide/getting-paid/#funding-your-own-time):

My goal with this guide was to frame it more in the way you describe (getting paid on the clock), and less about funded projects .

Do you have suggestions on how I could make that section more explicit? Is it more about being hired based on your open sour

[2017-03-08 20:32] theo-armour commented on #357
@nayafia

I don't want to complicate things too much but it's a really interesting, fraught and complicated topic.

This morning I wrote down my response to the challenge. I hope, somehow, this is helpful.

Theo

***
# Getting Paid for Open Source Work
_Sustain your work in open source by getting financial support for your time or your project._

There are at least two aspects to making some money

[2017-03-09 06:06] Blinders opened #365 "Translation: Korean"
Repository: https://github.com/2korean/open-source-guide
Preview: https://2korean.github.io/open-source-guide/
Locale: `ko-KR`

- [x] Merge the `i18n` branch into `gh-pages` and push the branch to your fork. This should build the website and it should be visible at the preview url above.
- [x] Update `title`, `description`, and `locale` in `_config.yml`
- [x] Copy `_data/locale/en-US.yml` to a new

[2017-03-09 07:34] liadbiz commented on #328
@lijiangsheng1 I am almost done with translation. Chekout my repo https://github.com/liadbiz/opensource-contribute-guide-chinise
feel free to use it~:blush:

[2017-03-09 07:53] lutzhorn commented on #357
Why a new paragraph for every short sentence? The structure of your argument is hard to follow in this list of small sentences that read like a list of bullet points without bullets.

[2017-03-09 08:08] theo-armour commented on #357
@lutzhorn

Nice question. ;-)

It's definitely a curious style that I have evolved.

It comes out of a fondness for:

* Bulleted lists
* Narrow newspaper columns
* Vertical scrolling being so easy

My coding style is similar. It's very open and airy.

It follows [Mr.doob's Code Style™]( https://github.com/mrdoob/three.js/wiki/Mr.doob's-Code-Style%E2%84%A2 )

I work a lot with his [Three.js]( https

[2017-03-09 09:29] lutzhorn commented on #357
Well, code style is nothing I would use for text that tries to descibe something or makes an argument. I find your text above very hard to read because I can't see what belongs together and where a new thought or description of a fact begins.

[2017-03-09 13:49] lijiangsheng1 commented on #328
O, Very great job. I'll review and merge to main branch gh-pages.  Thanks a lot. @liadbiz you can access  [https://ocselected.github.io/open-source-guide/how-to-contribute/](https://ocselected.github.io/open-source-guide/how-to-contribute/) . I'll update every weekly.

[2017-03-10 12:17] liadbiz commented on #328
@lijiangsheng1 I have post it to my blog, which is generated by hexo. I will finished  the last two articles this weekend. just mention me if I can help :)

[2017-03-10 21:24] nayafia commented on #357
@theo-armour thanks for typing up these thoughts, I enjoyed reading them!

The "Getting Paid" guide is currently structured into two parts: 1) getting paid for OSS time as a salaried employee, and 2) finding independent funding for your project. I'm going to keep that structure, but if there are parts you think we can augment based on what you've shared here, feel free to open an issue or PR so we

[2017-03-10 21:24] #357 closed

[2017-03-11 17:07] mkermani144 commented on #238
Any approaches on this issue?

[2017-03-12 19:26] anant90 commented on #303
@bkeepers Sorry for being late to the party, but what do you think of http://c2oss.com - contribute2OSS aggregates open issues marked as bugs or enhancements in the public Github repositories you have starred or are a member of. I made this at some point last year for myself, and was wondering if I should open a pull request for adding this to docs. Thanks!

[2017-03-13 18:18] theo-armour commented on #303
@anant90

Thank you for efforts. Helping people track open issues is, heh heh, a big issue.

BTW, I am an outsider just like you. Some thoughts:

This issue is closed. It's always a good good idea to open a new issue rather than trying re-open a closed issue.

I had a quick look at contribute2OSS.

I did not see a link to the source code on GitHub or to anywhere else. I did not see a license eithe

[2017-03-13 18:43] muan commented on #336
@sophshep looks like it's all merged in and published?

[2017-03-14 00:36] anant90 commented on #303
@theo-armour Thanks a lot for all the feedback and the double entendre - let me make the Github repo public, add an MIT License and a link to the Github repo and open a new issue :)

[2017-03-14 08:06] joqk12345 commented on #328
@lijiangsheng1 i made a picture of a brain map  for chapter one ,if u need i post it out in chinese.

[2017-03-14 11:43] xtuc commented on #303
@theo-armour

Contributor.ninja isn't open-source yet. I'm willing to do it in the future but currently it is still in development.

I agree and as @bkeepers mentionned ealier, GitHub is interessed in this kind of websites. It would be great to have a dedicated page like the current trending one.

@anant90

This looks to me the same as the GitHub watch list and notifications.

[2017-03-14 22:48] lijiangsheng1 commented on #328
@joqk12345 You are great! Would you mind commit PR  to my fork, I need more time for merge main branch. I will sync translation later.

[2017-03-15 19:35] nayafia commented on #62
More useful bits on this topic: https://speakerdeck.com/bkeepers/tending-your-open-source-garden-v2

[2017-03-16 14:44] bkeepers commented on #303
@anant90 c2oss looks good!  It's probably the best visual design of the various sites for contributing.

Since @xtuc's PR was merged we've added a policy against people adding links to their own projects, so if someone else thinks it's valuable and wants to add it, they're welcome to open a PR.

[2017-03-20 11:09] midhruvjaink commented on #238
any scope giving an articles navigation option either at the top of every page or making a column at the right?

[2017-03-20 11:10] midhruvjaink opened #370 "Add: Print the Article option"
Adding the feature to Print the article or either download it as pdf.

[2017-03-20 14:52] bkeepers commented on #370
Hey @midhruvjaink, thanks for the suggestion!

This isn't currently a high priority for us, but we would be happy to accept pull requests that:

- Add PDF versions as part of the process for generating ebooks #316
- Improve the CSS styles for print formats

I'm going to close this issue since we're not actively looking for improvements to the print versions, but feel free to continue discussion or

[2017-03-20 14:52] #370 closed

[2017-03-23 06:24] theo-armour opened #371 "Standing on the shoulders of giants"
Any writing regarding open source software implies '[Standing on the shoulders of giants]( https://en.wikipedia.org/wiki/Standing_on_the_shoulders_of_giants )'.

Would it be a nice thing if the following condition was in the CONTRIBUTING document?

* Each guide includes a short bibliography or reading list of links at the end of the guide.
* The purpose is either to help the reader identify the so

[2017-03-23 11:40] bkeepers commented on #371
Early versions of the site actually included a list of links at the end of each article. Some of the lists were really long and started to feel like a grab-bag of anything that's ever been written about a topic. So we ended up deciding to inline all of the links into the text, and if there wasn't anything in the resource that was worth alluding to in an inline reference, then we should just remove

[2017-03-23 11:40] #371 closed

[2017-03-23 21:19] nayafia commented on #371
Yep - as @bkeepers said, we used to have a "Further Reading" section for each, but decided to move to inlink links + pull quotes. Thanks for the suggestion though, and the opportunity for us to clarify where the current format comes from.

[2017-03-23 21:28] nayafia commented on #238
@mkermani144 @midhruvjaink this issue is still open, if someone would like to start by adding a link back to the homepage at the end of a guide.

I'd also be interested in seeing approaches to a fixed navigation with a link back to the homepage (if you do this, try starting with a quick mockup before doing work!).

[2017-03-24 08:48] theo-armour commented on #371
@bkeepers

I hear you. This is one reason I nominated giants and not midgets, trolls and dumbfucks.

A bibliography succeeds by useful curation. Links **must** be moderated.

Interesting filter

Does this not imply a self-referential universe? That is to say that links that agree/fit-in with the text are the only allowable links?

@nayafia

Agreed. As the GitLab peeps say: [write everything down](

[2017-03-27 17:22] kytrinyx opened #374 "Link in Starting a Project page is now returning 401"
In:

[code]

The link to http://ivantomic.com/projects/ospnc is failing the build because it has started returning a 401 (it's requiring authentication).

Is there a different link we can use?

[2017-03-30 01:35] nayafia commented on #374
Bummer. I think we should just remove the link. The concept still holds without it. Will do now.

[2017-03-30 15:44] #374 closed

[2017-03-30 19:43] tone2526 commented on #342
Cc

[2017-04-01 18:55] webknjaz commented on #299
@bkeepers We are experiencing issues in CI: https://travis-ci.org/open-craft-guild/open-source-guide/builds/217587586#L625
Could you please take a look.

P.S. I've also just noticed: Ukra**i**nian is misspelled in this issue title, could you please fix this?

[2017-04-03 23:07] mlinksva commented on #289
Good prior art/reference: https://jamesdixon.wordpress.com/forking-protocol-why-when-and-how-to-fork-an-open-source-project/ (2009)

[2017-04-05 06:15] mkermani144 opened #378 "Mismatch between footer buttons on hover"
Footer buttons have different hover effects, one of which having smooth color change with 0.2s transition duration and the other having no transition duration at all.

![issue](https://cloud.githubusercontent.com/assets/12621708/24692184/f8d158a2-19ec-11e7-93e3-8c3628efeec0.gif)

[2017-04-05 20:21] nayafia commented on #378
Thanks for the note, @mkermani144!

Tagging @sophshep to see about a fix. PRs are also welcomed. :)

[2017-04-05 20:25] nayafia commented on #378
Quick look suggests the one on the right is a MailChimp embed (with an input tag), whereas the left is a link that uses our custom styles, hence the difference.

[2017-04-05 20:47] sophshep commented on #378
The reason these were different is that the one on the left is a `<a>` link, which has a transition applied to it. The form is an `<input>` which doesn't - but putting a transition on the class for the button solves it!

[2017-04-06 06:23] mkermani144 commented on #378
@nayafia @sophshep Yes, I know why one of the buttons has a transition and the other doesn't, but I think as users _think of_ both as buttons, it's better to make the transitions the same.

[2017-04-06 18:40] #378 closed

[2017-04-08 00:53] broccolini commented on #336
Heads up the module changes _are_ published but I haven't cut a new release of the meta-packages (such as `primer-marketing` or `primer-css`) yet because there is a problem with another module. Working on a fix, and may not affect this site if you reference the specific `primer-marketing-support` version, `0.5.0`.

[2017-04-08 02:02] bkeepers commented on #336
Thanks @broccolini

[2017-04-08 07:07] lijiangsheng1 opened #382 "Want to speaking at Open Source summit China"
![image](https://cloud.githubusercontent.com/assets/1545933/24826561/8ef1b1da-1c6b-11e7-8cef-a2b42b5926d2.png)

Dear open source guide contributors,

  4.19~4.20 have a open source summit in Beijing China, as a  speaker , I want to talk about this project, and try to let more people know this great project. My topic title is 《deep into open source guide》.

 But I need more good advices, suggestion

[2017-04-09 11:22] consugus opened #383 "Translation: Spanish"
Repository: https://github.com/consugus/opensource.guide
Preview: https://consugus.github.io/open-source-guide/
Locale: `es-AR`

- [x] Merge the `i18n` branch into `gh-pages` and push the branch to your fork. This should build the website and it should be visible at the preview url above.
- [x]  Update `title`, `description`, and `locale` in `_config.yml`
- [x] Copy `_data/locale/en-US.yml` to a n

[2017-04-09 11:24] consugus commented on #383
want to colaborate with the open translation? contact us

[2017-04-09 18:48] m1guelpf commented on #383
@consugus I would like to help!

[2017-04-10 05:24] theo-armour opened #384 "Open Source Guides: Places to congregate"
Open Source Guides identifies a number of topics that when followed set a high and welcoming bar for open source projects.

As people begin to follow these guides they may want to share their successes, comments and ideas with similarly minded peeps.

In order to help with this sharing, would it be a good thing to establish the handles for sharing? For example,:
* 'open-source-guides' could be a s

[2017-04-10 13:44] consugus commented on #383
@m1guelpf nosotros somos un grupo de estudiantes de Ingeniería en Sistemas en Córdoba, Argentina y estamos oganizándonos para esta traducción con un grupo de compañeros. Va a ser un placer sumarte al grupo. Solo te pido que me tengas un poquito de paciencia hasta que podamos organizarnos bien, y en breve vuelvo a contactarte para coordinar una parte de la tarea contigo. Saludos,

[2017-04-10 14:01] m1guelpf commented on #383
@consugus De acuerdo. Vais a traducirlo a español España o a español Hispanoamérica?

[2017-04-10 14:16] consugus commented on #383
@o no creo que estemos en condiciones de poder hacer una traducción a español de España que sea suficientemente fiel. Tal vez podamos intentar hacer algo más neutral, si te parece bien. Para ello luego de tener algún documentos ya traducido te podré solicitar que lo revises para que opines si el trabajo hecho nos quedó muy latino.
De momento te voy enviando la invitación al fork que ya hice del re

[2017-04-10 14:27] m1guelpf commented on #383
@consugus Te he mandado un PR como prueba

[2017-04-10 14:37] consugus commented on #383
@m1guelpf Todo perfecto, ya hice el merge. No hay ninguna diferencia a lo que yo hubiera traducido del contenido que tradujiste. No creo que haya ningún inconveniente respecto de si la traducción es al español de España o latino si hacemos el esfuerzo por no utilizar vocabulario muy local

[2017-04-10 20:42] consugus commented on #383
@m1guelpf quería hacer notar una dificultad que puede darse en páginas HTML con el uso de caracteres especiales como las vocales acentuadas, la eñe, etc: dependiendo del tipo de codificación que tenga seteado el navegador del cliente, en algunas ocasiones puede llevar a una mala visualización de la página usar solamente á (), es mas conveniente representarla como &aacute; que al momento de renderi

[2017-04-11 04:55] kytrinyx commented on #384
Thank you @theo-armour.

It would be great to hear people's stories, and it does seem like this would (naturally) happen elsewhere, since it does not make sense to open a GitHub issue for something like that.

Have you seen people sharing their experiences anywhere? I have not (yet) seen anything, and it seems a bit premature to try to regulate behavior that hasn't happened yet.

I did a search on

[2017-04-11 14:51] kytrinyx commented on #382
@lijiangsheng1 Congratulations on getting your talk accepted to the Open Source Summit China. ✨

What type of advice are you looking for?

What is the main goal for your talk?
What is your main point, and how are you thinking of building up to it?

[2017-04-11 23:10] broccolini commented on #336
@bkeepers This fixed is published, you'll need to bump to the latest version to get the fix on the the open source site: https://www.npmjs.com/package/primer-marketing - ping us if you hit any issues. cc @sophshep

[2017-04-15 14:00] watilde opened #385 "Translation: Japanese"
Repository: https://github.com/ja-opensource-guide/ja-opensource-guide.github.io
Preview: https://ja-opensource-guide.github.io/
Locale: ja-JP

- [x] Merge the `i18n` branch into `gh-pages` and push the branch to your fork. This should build the website and it should be visible at the preview url above.
- [x] Update `title`, `description`, and `locale` in `_config.yml`
- [x] Copy `_data/locale/en-

[2017-04-15 14:16] watilde commented on #385
I'm planning to manage the status of the translation progress on https://github.com/ja-opensource-guide/ja-opensource-guide.github.io/issues/1.

[2017-04-17 14:05] lijiangsheng1 commented on #382
@kytrinyx  Thanks very much. Thanks for your question. I think I know what I will say.
BTW: sorry for reply later.

[2017-04-17 14:05] #382 closed

[2017-04-18 12:52] consugus commented on #383
@m1guelpf con unos compañeros ya casi terminamos de traducir todo el sitio, hay un par de documentos que se completarán en un par de días y estaba quedando el documento "How to contribute.md" sobre el que habías hechos algunas contribuciones. Nuestra idea es tener todo completado para el próximo fin de semana y en ese momento poder hacer una peer-review entre nosotros para recién solicitar un PR a

[2017-04-18 13:42] m1guelpf commented on #383
@consugus De acuerdo, avisame a ver si puedo ayudar con la revisión.

[2017-04-18 23:18] kytrinyx commented on #382
@lijiangsheng1 Best of luck with your talk!

[2017-04-19 17:32] consugus commented on #383
Hola @m1guelpf , muchas gracias por tu generosidad. Los documentos que yo traduje y que ya estarían listos para ser revisados son:
* building-community
* finding-users
* how-to-contribute
Si pudieras ir revisando esos (o alguno) sería una gran ayuda. Nosotros por este lado vamos a tratar de comenzar con la revisión a partir de este fin de semana. Te pido que me avises qué documento estás revisando

[2017-04-24 16:10] consugus commented on #383
Hola @m1guelpf , el fin de semana estuvimos viendo cómo dividir las revisiones para optimizar esfuerzos y tiempos. Yo hablé con los otros colaboradores del grupo para que, si estás de acuerdo, te encargues de revisar la traducción que hice sobre:
* how-to-contribute
La intención que tenemos es ya poder estar en condiciones de hacer un PR para el 13-14/05, si pudieras ayudarnos sería fantástico.
Ag

[2017-04-24 16:16] m1guelpf commented on #383
@consugus Me pongo ahora mismo con ello, os avisaré en cuanto acabe :smile:

[2017-04-24 16:44] m1guelpf commented on #383
@consugus Acabo de terminar mi review del how-to-contribute.md

[2017-05-18 18:22] DonRichards opened #389 "Why is it important to use the description field?"
Accessibility and discoverability I'm assuming. But I frequently have to convince people why this is important. Limited bandwidth, screen readers or just simply fatigue of exploring repos.

[2017-05-23 16:37] nayafia commented on #389
Hi @DonRichards, yes, it's useful for accessibility and discovery. I think of it as a one-liner "headline" for your repo.

I also think it helps the author think about how they'd explain their repo, and why it's valuable, to a stranger. Helps simplify your own thinking, which is a good exercise in itself!

[2017-05-23 16:37] #389 closed

[2017-05-25 18:01] nayafia opened #391 "Remove blank search page"
The XML sitemap links to this blank page: https://opensource.guide/search Not a huge deal, but not great for SEO, either.

@bkeepers I can just remove [this file](https://github.com/github/opensource.guide/blob/gh-pages/search.html), right? Since we don't have a search functionality right now?

[2017-05-25 18:05] nayafia commented on #384
Closing as we've done the actionable parts above :point_up: I agree it feels premature establish a hashtag, but I did also add ``tutorial`` as a GitHub Topic, for discoverability. Thanks for the suggestion!

[2017-05-25 18:05] #384 closed

[2017-05-31 16:35] m1guelpf commented on #316
Any updates on this?

[2017-05-31 16:41] kytrinyx commented on #304
I believe this still is worth keeping open. The next step on this is to write a bullet-point list of points/ideas/topics that should go into it, and then structure those in a rough outline for review.

[2017-05-31 18:05] hzoo commented on #194
There is usually some kind of convention to how tests are written, structured, etc that should be documented. Both linting/testing are usually described in the contributing.md (at least how to run them, and usually a command to run a subset of them). Usually you want to also be able to know how to run a debugger.

Each project may have a different structure on how you write tests: https://github.c

[2017-06-01 08:06] webknjaz commented on #288
Still in progress

[2017-06-02 21:36] franciscop opened #393 "A guide for writing the documentation"
I would love contributing by writing a guide about how to write documentation (how meta). This issue is to discuss whether it is welcome and the scope of it.

**So first things first, is a documentation guide welcome?** I am guessing a strong yes [from your last survey](http://opensourcesurvey.org/2017/). I am not able to make the graphics though, so I would need help there.

## Scope

This is a r

[2017-06-04 20:36] mlinksva commented on #393
Seems like a good idea to work out to me!

Regarding links, see https://github.com/github/opensource.guide/blob/gh-pages/CONTRIBUTING.md#ground-rules--expectations

But I'm really happy to see survey results being used as real motivation already. Congratulations on launching your agency. 🎉

[2017-06-06 07:40] webknjaz commented on #299
sudo unstale

[2017-06-06 16:00] kytrinyx commented on #393
One resource that I have found invaluable is Mozilla's "Working Open Workshop". The entire contents of the workshop is included in writing there.

http://mozillascience.github.io/working-open-workshop

[2017-06-08 03:51] #180 closed

[2017-06-08 03:51] #237 closed

[2017-06-08 03:51] #323 closed

[2017-06-08 03:51] #284 closed

[2017-06-08 03:51] #62 closed

[2017-06-08 13:13] diamonddocumentation commented on #393
Great idea! I am happy to work with you on this. I can contribute some useful documentation planning guidance e.g. thinking about the audience, tasks, requirements etc.

[2017-06-09 18:34] franciscop commented on #393
Awesome, I'll get started then over the weekend. @diamonddocumentation awesome, how do you propose to do so?

[2017-06-11 00:39] #289 closed

[2017-06-12 11:40] HarshitKaushik commented on #393
Hi @franciscop, great idea. Can I help by providing a list of common guidelines for writing good Javadoc in code, so that when we generate documentation with JavaDoc, it looks good?

I can provide a gist of (How to Write Doc Comments for the Javadoc Tool)[http://www.oracle.com/technetwork/java/javase/documentation/index-137868.html] for first time Java developers.

[2017-06-12 14:07] nayafia commented on #336
@bkeepers are you able to update versions so we can close this out? (This was on my SEO todo list too)

[2017-06-12 14:36] CesarNog commented on #342
Oh no, the probot-stale bot closed this issue?

[2017-06-15 06:42] sotayamashita commented on #385
@watilde I am not sure the status of it. Do you need help?

[2017-06-15 12:42] guptasaloni commented on #238
you can just make a button and write code to redirect it on the home page

[2017-06-15 12:45] guptasaloni commented on #238
And if u are facing that much problem u can see the most popular website in that a link is there to redirect the home page and u can see the code by inspect it

[2017-06-16 18:14] gs-rezaem opened #399 "Link to CODE_OF_CONDUCT"
Why does the guide say "Place a CODE_OF_CONDUCT file in your project’s root directory, and link to it from your README, so it’s visible to your community." ?
The README seems like the wrong place for this. To wit, the [README](https://github.com/github/opensource.guide/blob/gh-pages/README.md) here doesn't do that.
Isn't CONTRIBUTING the right place to link CODE_OF_CONDUCT, or at least a good/bett

[2017-06-17 05:29] webknjaz commented on #299
?

[2017-06-17 22:56] nayafia commented on #62
Bummed to close this out, but we can re-open when we're able to take on writing a new set of guides.

[2017-06-18 13:54] XX opened #400 "Translation: Russian"
Repository: https://github.com/ru-open-source-guide/opensource.guide
Preview: https://ru-open-source-guide.github.io/opensource.guide/
Locale: `ru-RU`

On the `gh-pages` branch of your fork:

- [x] Merge the `i18n` branch into `gh-pages` and push the branch to your fork. This should build the website and it should be visible at the preview url above.
- [x] Update `title`, `description`, and `local

[2017-06-19 10:59] XX commented on #400
To translate into your language, see this: https://github.com/github/opensource.guide/blob/i18n/docs/translations.md

[2017-06-26 02:53] Nader-Zubaid commented on #238
nader79zubaid.wordpress.com

[2017-06-26 03:09] Nader-Zubaid commented on #288
nader79zubaid.wordpress.com

[2017-06-26 10:15] webknjaz commented on #288
spam?

[2017-06-26 16:02] MahdiMajidzadeh opened #405 "Translation: Persian"
Repository: https://github.com/MahdiMajidzadeh/opensource.guide

Preview: https://mahdimajidzadeh.github.io/opensource.guide/
Locale: `fa-IR`

On the `gh-pages` branch of your fork:

- [x] Merge the `i18n` branch into `gh-pages` and push the branch to your fork. This should build the website and it should be visible at the preview url above.
- [x] Update `title`, `description`, and `locale` in `_c

[2017-06-26 16:20] MahdiMajidzadeh commented on #405
is any stylesheet for RTL languages?

[2017-06-27 10:24] tdmdema opened #406 "Translation: Italian"
Repository: https://github.com/tdmdema/opensource.guide
Preview: https://tdmdema.github.io/opensource.guide/
Locale: `it-IT`

On the `gh-pages` branch of your fork:

- [X] Merge the `i18n` branch into `gh-pages` and push the branch to your fork. This should build the website and it should be visible at the preview url above.
- [x] Update `title`, `description`, and `locale` in `_config.yml`
- [x]

[2017-06-27 13:39] bkeepers commented on #336
@nayafia Looks like @sophshep is taking care of this in #404

[2017-06-27 16:34] SidVal commented on #383
Me sumo, si necesitan ayuda en traducción me avisan.

Ví el PR #388 pero tiene conflictos, fijate porfa @consugus si podes depurar esos dos archivos así queda habilitado para el merge. :pray:

[2017-06-28 12:17] Jasonnor commented on #328
@lijiangsheng1 I have just sent a PR, but may be related to the changing of main repo, please come to see 😄

[2017-06-28 20:05] kytrinyx commented on #399
That's a fair point, @gs-rezaem. I think that it will depend on the project whether the README or the CONTRIBUTING file are the best place for this. @nayafia what do you think? Would it make sense to tweak the wording on this to emphasize the idea of _making it visible to the community_ and having a link in the README or CONTRIBUTING guide as a way to accomplish that?

[2017-06-28 22:05] nayafia commented on #399
Yes! I think the main idea is to make sure that it's visible to your community, whether that's on the README, CONTRIBUTING, or wherever else.

@gs-rezaem feel free to open a PR with this change :thumbsup:

[2017-06-29 09:54] willysr opened #408 "Translations: Indonesian"
Repository: https://github.com/willysr/id-opensource.guide
Preview: https://willysr.github.io/id-opensource.guide
Locale: `id-ID`

On the `gh-pages` branch of your fork:
- [x] Merge the i18n branch into gh-pages and push the branch to your fork. This should build the website and it should be visible at the preview url above
- [x] Update `title`, `description`, and `locale` in `_config.yml`
- [x] C

[2017-06-29 20:38] gs-rezaem commented on #399
PR #411

[2017-06-30 01:20] #399 closed

[2017-07-01 09:01] consugus commented on #383
Hola @SidVal , gracias por ofrecerte.
Los documentos están todos traducidos, el tema es que desconocemos qué problema tienen los documentos que están listando en conflicto (ahora son cuatro documentos). Acabo de estar mirándolos lado a lado, en mi compu, en un lado el documento original en inglés (https://opensource.guide/) y en otro el preview que se puede hacer desde GitHub (https://consugus.git

[2017-07-01 20:12] SidVal commented on #383
Yo probaría borrarle de tu PR los archivos que te dice que tienen conflictos :P

[2017-07-01 20:24] jens1o opened #413 "Translation: German"
Repository: https://github.com/jens1o/de-opensource.guide
Preview: https://jens1o.github.io/de-opensource.guide/
Locale: `de-DE`

On the `gh-pages` branch of your fork:

- [X] Merge the `i18n` branch into `gh-pages` and push the branch to your fork. This should build the website and it should be visible at the preview url above.
- [x] Update `title`, `description`, and `locale` in `_config.yml`
-

[2017-07-01 22:05] jens1o commented on #413
I have a tiny problem:
When I push changes, I can see them on GitHub, but they won't be shown on the website...

[2017-07-03 16:51] nayafia commented on #413
Hi @jens1o, thanks for getting started on a German translation! I'll defer to @bkeepers to tackle your qs.

[2017-07-04 03:56] jens1o commented on #413
Thanks. :) I fixed the problem by remove the `_articles/en-US` folder with its content, now it works. :)

[2017-07-06 13:43] zoejane commented on #328
@liadbiz
Really thank you for providing us the translation of all articles of Open Guide!

@lijiangsheng1
Really thank you for maintain the project of open-source-guide(Chinese Translation)!

I see your discussion here, so I try to add the translation of @liadbiz to the repo of @lijiangsheng1 , and send a Pull Request,
Here is the PR link -  [add translation of all remaining articles by @liadbiz O

[2017-07-06 14:44] liadbiz commented on #328
@zoejane  Thanks! Really good work, I translated articles several months ago, and I remember there exists some mistakes that needto be fixed. It would be great you can proofread all the content :+1:

[2017-07-06 15:02] zoejane commented on #328
@liadbiz
When I first saw the Open Source Guide, I really wish there would be a Chinese Version. But I am not so good at translation, and don't have enough time and energy to do such a work.
So when I Googled and found your translation accidently , I am so happy! And it is so glad that I have the opportunity to say thanks to you!
I‘ve fixed some typos when I add you translation to the PR, but I ha

[2017-07-07 02:11] lijiangsheng1 commented on #328
@zoejane @liadbiz
Great jobs! Thanks very much.

[2017-07-07 06:46] lijiangsheng1 commented on #328
@zoejane @liadbiz @Jasonnor

I Just merged Zoe 's PR, but I find a lots of translate issue. (Sorry, @liadbiz Please don't mind) .

Now, We are just finished step 1 , still need a lot of review jobs. Because not good, If you read it in Chinese, You can't understand clear.

Thanks all, Enjoy it.

[2017-07-07 10:52] liadbiz commented on #328
@lijiangsheng1 I am sorry for translate and typo issues, and thanks for point it out! I have some time this weekend, we can make it better. Last but not least, half of that were translated by @cnbo.
@zoejane You are so kind, just enjoy the contribution. :smile:

[2017-07-07 11:23] zoejane commented on #328
@lijiangsheng1 I just saw you update the whole translation of building-community 3 hours ago, and thank you for your patience and professional attitude.
Together we can try and make it better.
I will try my best :)

[2017-07-08 11:34] abhishek3485 opened #418 "Please add some screenshots"
Information along with screenshots will help us what to do to contribute in a project.
Thank you.

[2017-07-10 07:54] MikeMcQuaid commented on #418
Sorry, I'm not sure what you're asking for here?

[2017-07-10 07:54] #418 closed

[2017-07-11 15:44] grbknr1996 opened #419 "translation in hindi"
Hindi is a popular language and about 1.2 billion people speak hindi it would be better if we  make a hindi version

[2017-07-11 18:25] #391 closed

[2017-07-12 15:50] nayafia commented on #419
Hi @grbknr1996, thanks for your interest! @bkeepers can answer more questions about the translations process, but I'd suggest checking out these issues:

https://github.com/github/opensource.guide/issues/383 (use this checklist)
https://github.com/github/opensource.guide/pull/359

...or [searching issues for "translation"](https://github.com/github/opensource.guide/issues?utf8=%E2%9C%93&q=is%3Aiss

[2017-07-12 15:55] grbknr1996 commented on #419
thanks

[2017-07-15 20:01] kytrinyx commented on #304
Here's the link to @sgrif's video: https://www.youtube.com/watch?v=u2xzRUYrsWA

[2017-07-19 18:59] bkeepers commented on #391
Yep, that's right.

[2017-07-23 16:42] Turtlegurl6996 opened #426 "Kims"
https://m.facebook.com/roger.clements69?tsid=0.3854839812038404&source=result

[2017-07-24 08:40] #426 closed

[2017-07-24 18:16] nayafia commented on #336
Think we can close this now that #404 has been merged :party:

[2017-07-24 18:16] #336 closed

[2017-07-27 17:16] nayafia opened #427 "Link back to homepage at the end of each guide"
When you reach the bottom of a guide, there's no clear "next step".

It would be great to add a `Back to all guides`-type link at the bottom-right of each guide, so people know what to do next.

Bonus: In addition to the homepage link, add a `View related guides` at the bottom, with links to 1-2 similar guides. I'm not sure whether every guide has a related guide, though.

- [ ] Add "back to all g

[2017-07-27 17:17] nayafia commented on #238
Closing in favor of https://github.com/github/opensource.guide/issues/427. I wrote a fresher version so it's clearer what needs to be done.

[2017-07-27 17:17] #238 closed

[2017-07-30 15:29] princeomkaar commented on #419
I 'am new here! I can translate English to Hindi!

[2017-08-01 16:39] willysr commented on #408
@nayafia : i'm done with the translations
What should i do next before i send a pull request? Can you verify that everything is working?

I haven't change the CNAME to id.opensource.guide since it will break the preview (the images will not be shown so i made an absolute path for that)

Thanks

[2017-08-02 00:33] nayafia commented on #408
Thank you @willysr, this is fantastic! :heart:

@bkeepers has been handling translations, so I'll leave it to him to follow up and review.

[2017-08-02 09:13] #427 closed

[2017-08-02 14:11] subkrish commented on #419
@bkeepers I am interested in contributing to this issue by working on the translation. Is there a place where I can start? Would I need to open an issue like it has been done for the other translations in other issues? How do go about it?

[2017-08-05 17:08] willysr commented on #408
Added PR: https://github.com/github/opensource.guide/pull/429

[2017-08-10 13:13] StevenCopeland opened #433 "Open source guide for creating a repo in Linux"
Do you think you could make a guide for creating a repo(or setting up with code you already have), I mean, even if it is impossible to create a repo from the terminal, maybe how would you create one online, clone it down, transfer the code over, stage and commit, and push **OR** you could make a Github desktop version for Linux. I would like a guide on this because, even though I figured it out, i

[2017-08-10 16:24] #288 closed

[2017-08-10 16:35] bkeepers commented on #419
Hey @grbknr1996, @princeomkaar, & @subkrish! Thanks for your interest in translating the guides in to Hindi!

Check out https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md#starting-a-translation for more information on starting a translation. Let me know if you have any questions or need help with anything.

[2017-08-10 16:35] #419 closed

[2017-08-10 16:52] bkeepers commented on #405
@MahdiMajidzadeh there's not yet, but we'd love to work on adding support for it.

@sophshep @broccolini Have you done any work with RTL support in Primer? Any advice?

[2017-08-10 17:21] sophshep commented on #405
We haven't. We could add a module that updates other things to format them for RTL - they way Primer is set up puts us in a good spot for this. It's low priority at the moment, but I've [created an issue](https://github.com/github/design-systems/issues/388) for it.

[2017-08-10 17:23] sophshep commented on #405
In the meantime, we could create a custom stylesheet just for these guides. Since the design is on the simpler side, I don't think it would be too much effort.

[2017-08-10 17:26] broccolini commented on #405
I was expecting us to need to add this at some point, definitely happy to help make that happen. Related I saw a good talk on writing modes a few months ago, it has a bit of history and interesting info that might be relevant: https://speakerdeck.com/jensimmons/writing-modes-at-css-day

[2017-08-10 20:54] mlinksva commented on #433
I can't put my finger on it, but this kind of step-by-step technical how-to documentation seems out of place for this project.

Documentation on [new guides](https://github.com/github/opensource.guide/blob/20ba2b71f738947efcda6090c7c958882a82ac50/docs/new-guides.md).

FWIW you might want to follow https://github.com/desktop/desktop/issues/1525 about Desktop on Linux or look at building and running

[2017-08-10 21:06] nayafia commented on #433
Hi @StevenCopeland, thanks for the suggestion!

I agree with @mlinksva that this is probably too technical and GitHub-specific for an open source guide. However, I think this could be a great candidate for content that GitHub would offer elsewhere. I've passed it on to the appropriate team, thank you for letting us know!

[2017-08-10 21:06] #433 closed

[2017-08-11 13:15] subkrish opened #435 "Translation: Hindi"
Repository: https://github.com/subkrish/opensource.guide
Preview: https://subkrish.github.io/opensource.guide/ (Doesn't exist yet, will be updated)
Locale: `hi-IN`

On your fork:

- [ ] Update `title`, `description`, and `locale` in `_config.yml`, and push the branch to the `gh-pages` branch of your fork. This should build the website and it should be visible at the preview url above.
- [ ] Copy `

[2017-08-11 14:10] nayafia commented on #433
@StevenCopeland A colleague also pointed me to this: https://help.github.com/articles/adding-an-existing-project-to-github-using-the-command-line/

Hope it helps for the future :)

[2017-08-11 14:12] StevenCopeland commented on #433
Thanks! That really helps!

[2017-08-12 13:45] #194 closed

[2017-08-12 13:45] #316 closed

[2017-08-16 17:52] webknjaz commented on #299
sudo unstale

On Aug 16, 2017 18:44, "stale[bot]" <notifications@github.com> wrote:

[2017-08-20 13:45] MahdiMajidzadeh commented on #405
I started make `rtl.scss` and I hope can finished and convert all style

https://github.com/MahdiMajidzadeh/opensource.guide/blob/gh-pages/assets/css/rtl.scss

[2017-08-22 14:50] #393 closed

[2017-08-30 02:01] srishag commented on #435
I can help with this!

[2017-09-08 09:10] lijiangsheng1 commented on #328
..... I will sync and PR .

[2017-09-08 10:14] lijiangsheng1 commented on #328
my fork repo name is open-source-guide, I used script/sync-translation can't work. So  I need more time to fix this or fork anther repo.

[2017-09-14 05:16] adamnaylor6583 opened #441 "Wellhello"
Text me

[2017-09-14 05:17] #441 closed

[2017-09-14 05:18] adamnaylor6583 commented on #441
Hello

[2017-09-15 03:12] haileybug102312 commented on #441
Who is this. Why did u say text me!!

On Sep 14, 2017 1:17 AM, "Daniel Hwang" <notifications@github.com> wrote:

[2017-09-15 16:09] lijiangsheng1 opened #442 "Chinese translated is done, but sync-translation can't work."
this is my output:
[code]

[2017-09-18 15:45] solenwin2 commented on #442
Issue.

[2017-09-20 21:16] #304 closed

[2017-09-20 23:21] nayafia commented on #442
@bkeepers this is for you

[2017-10-01 18:15] akosyakov opened #444 "Clarify how the DCO work"
It would be nice if the documentation covers how the DCO work, especially how to solve such cases: https://github.com/probot/dco/issues/37

[2017-10-01 18:32] mlinksva commented on #444
Currently the DCO gets a one-sentence mention in https://opensource.guide/legal/#does-my-project-need-an-additional-contributor-agreement and the Guides don't provide detailed implementation help on anything. I [wish](https://github.com/github/opensource.guide/issues/50#issuecomment-241538924) there were better documentation for the DCO, but I don't think this project is the place to provide it.

[2017-10-02 06:52] akosyakov commented on #444
Maybe it was "even simpler" for contributors to agree to it compare to the CLA.

[2017-10-02 23:07] rogeriopradoj opened #446 "Translation: Brazilian Portuguese"
Repository: https://github.com/rogeriopradoj/opensource.guide
Preview: https://rogeriopradoj.github.io/opensource.guide/
Locale: `pt-BR`

On your fork:

- [x] Update `title`, `description`, and `locale` in `_config.yml`, and push the branch to the `gh-pages` branch of your fork. This should build the website and it should be visible at the preview url above.
- [x] Copy `_data/locale/en-US.yml` to

[2017-10-02 23:52] alexandrebarbaruiva commented on #342
is this still the branch used for translation? I'd like to contribute but it seems like there's no more activity here... (help?)

[2017-10-03 11:14] nandomoreirame commented on #342
Yes, we need your help @alexandrebarbaruiva !! :)
Please submit your contributing to repo: https://github.com/nandomoreirame/open-source-guide
Thanks

[2017-10-03 14:06] vcapretz commented on #342
@nandomoreirame could you open this issue again?

[2017-10-03 15:30] nandomoreirame commented on #342
I also can not open the issue. @CesarNog please :)

[2017-10-04 15:14] KRUSTH opened #447 "PROPOSTA INDECENTE"
Sua empresa na rede

[2017-10-04 15:16] KRUSTH commented on #447
emojs KRUSTH

[2017-10-04 15:29] #447 closed

[2017-10-04 15:51] mlinksva commented on #444
Closing as detailed documentation on particular instruments is out of scope for this project.

[2017-10-04 15:51] #444 closed

[2017-10-05 17:24] KRUSTH commented on #444
translation from brazil

[2017-10-05 18:18] elbaulp opened #449 "Ebook Version"
It would be great if we can made a ebook version of the site. I've been wanting to read the entire guide for some time now, but I do not really like spend much time reading on the screen. I could try to convert the posts into a `.mobi` version using pandoc or this project: https://github.com/mccormicka/md-book

Currently I can send each individual page to my kindle using tinderizer, but a complete

[2017-10-08 00:54] williamcspereira commented on #446
Hi, I would like to contribute translating. I've forked your repository https://github.com/rogeriopradoj/opensource.guide

[2017-10-08 04:52] sebassdc commented on #383
Saludos! ¿Como les puedo ayudar?

[2017-10-09 19:13] jens1o commented on #413
nope ;)
I just lack of time unfortunately :/

[2017-10-09 22:07] #365 closed

[2017-10-10 07:42] minwook-shin opened #451 "Translation: Korean"
Repository: https://github.com/minwook-shin/opensource.guide
Preview: https://minwook-shin.github.io/opensource.guide/
Locale: `ko-KR`

On your fork:

- [x] Update `title`, `description`, and `locale` in `_config.yml`, and push the branch to the `gh-pages` branch of your fork. This should build the website and it should be visible at the preview url above.
- [x] Copy `_data/locale/en-US.yml` to a

[2017-10-10 09:13] minwook-shin commented on #451
hello. everyone!
i'm korean translator.
korean translation is in progress. but, cname(kr.opensource.guide) does not work, and because of this, the preview link does not work.
help me, github staffs!

[2017-10-11 02:09] minwook-shin commented on #451
Changed the cname file.
(kr.opensource.guide -> ko.opensource.guide)

[2017-10-11 21:33] dguo opened #452 "Another README guide"
Hello! I recently created a [small website](https://www.makeareadme.com/) to explain what a README is and elaborate on what makes for a good one. Would there be any interest in adding it to the guide's [README section](https://opensource.guide/starting-a-project/#writing-a-readme)?

[2017-10-11 21:39] mlinksva commented on #452
Well done! As for adding it, see https://github.com/github/opensource.guide/blob/gh-pages/CONTRIBUTING.md#ground-rules--expectations

[2017-10-11 21:39] #452 closed

[2017-10-11 22:08] dguo commented on #452
Ah, sorry for missing that part. Understood.

[2017-10-12 09:35] kafanoka commented on #442
huyou gotta do the x marks the spot nigga duh.

[2017-10-13 18:06] nayafia commented on #446
Hi @rogeriopradoj and @williamcspereira! It looks like there's a Brazilian Portuguese translation underway on https://github.com/github/opensource.guide/issues/342, so I'd encourage you to combine efforts over there. :blush:

[2017-10-13 18:06] #446 closed

[2017-10-13 18:08] nayafia commented on #449
Hi @elbaulp! That sounds great, feel free to go for it and let us know how it turns out. :blush:

[2017-10-13 18:10] nayafia commented on #451
@bkeepers this one's for you!

[2017-10-15 11:23] elbaulp commented on #449
Ok, I'll try to do it withing a week or two.

[2017-10-15 21:23] webknjaz commented on #299
unstale

[2017-10-15 23:19] sofisofichafodze commented on #299
16 Eki 2017 00:23 tarihinde "Sviatoslav Sydorenko" <notifications@github.com>
yazdı:

unstale

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/github/opensource.guide/issues/299#issuecomment-336742642>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AfTScm-7skTSJcKOoxHCQ8Q3xQCpX11fks5ssne

[2017-10-16 04:51] minwook-shin commented on #451
Translated best-practices.md.

[2017-10-16 17:27] #408 closed

[2017-10-16 17:27] #406 closed

[2017-10-16 17:27] #400 closed

[2017-10-16 17:27] #385 closed

[2017-10-20 10:54] domnikkk opened #462 "is:open is:pr author:domnikkk"

[2017-10-22 22:44] itsN1X commented on #435
many freeBSD and UNIX ( < 3.11.1 ) don't support la_hindi-tf rendering. It'd be nicer if we embibe the svgs' with hindi inline.
Superfast render, A2Z-compat !
@subkrish still up on this one?

[2017-10-23 11:17] nasirkhan opened #465 "Translation: Bengali"
Repository: https://github.com/nasirkhan/opensource.guide
Preview: https://nasirkhan.github.io/opensource.guide
Locale: `bn-BD`

On your fork:

- [x] Update `title`, `description`, and `locale` in `_config.yml`, and push the branch to the `gh-pages` branch of your fork. This should build the website and it should be visible at the preview url above.
- [x] Copy `_data/locale/en-US.yml` to a new fil

[2017-10-25 18:16] igorsteinmacher opened #468 "Pointing outdated information as something to be careful"
I would like to add a section talking about how the obsolescence of documentation can affect newcomers to the best-practices.md

I'd love to add more in terms of how to make a supportive/welcoming community. I have been researching newcomers onboarding to open source issues for such a long time (more on www.igor.pro.br). I really appreciate the efforts of your project, and would like to offer myse

[2017-10-26 15:40] #405 closed

[2017-10-27 05:18] ChiragCreative1 opened #469 "Redirect back to app if FIRApp configure"
click on allow not redirect to App, it was working before i configure Firebase/AdMob

[code]
if i remove  `[FIRApp configure];` all thing are working.

![simulator screen shot - iphone 7 - 2017-10-27 at 10 34 38](https://user-images.githubusercontent.com/5088229/32088683-d582270c-bb02-11e7-8da7-5e109880cc17.png)

[2017-10-27 16:32] nayafia commented on #468
Hi @igorsteinmacher, thanks for the suggestion! I could see this fitting into the `Document your processes` section, in the section before `Write down your project's vision`.

Feel free to open a PR with your suggestions. Could you condense it down a bit, to maybe 1-2 short sentences, to fit the rest of that section?

Also, [per our contributing guide](https://github.com/github/opensource.guide/bl

[2017-10-27 16:42] igorsteinmacher commented on #468
Thanks a lot for the comment @nayafia 👍
I will shorten it and remove the link to the paper to create the PR.

[2017-10-27 16:48] nayafia commented on #465
@bkeepers this one's for you!

[2017-10-27 17:08] #462 closed

[2017-10-28 09:25] felixshai opened #471 "Translation: Chinese(Taiwan)"
Repository: https://github.com/felixshai/open-source-guide
Preview: https://felixshai.github.io/open-source-guide/
Locale: `zh-TW`

On your fork:

- [X] Update `title`, `description`, and `locale` in `_config.yml`, and push the branch to the `gh-pages` branch of your fork. This should build the website and it should be visible at the preview url above.
- [X] Copy `_data/locale/en-US.yml` to a new

[2017-10-29 10:51] minwook-shin commented on #451
I removed cname for testing. Thank you for your understanding.

[2017-10-30 08:08] MikeMcQuaid commented on #469
This doesn't seem related to Open Source Guides, sorry!

[2017-10-30 08:08] #469 closed

[2017-11-03 04:56] felixshai opened #473 ""It's friday..." sentence is not included in translation-issue-template."
I notice that when visiting website on Friday.
There is a sentence pop up starting with "It's Friday! Invest a few hours..." at the index page.

1.   The sentence is not included in translation-issue-template.
2.   I push my translated version of `index.html` to my repository, it causes Jekyll fail with "unable to build page. Please try again later." I still trying to figure out how to fix it.

[2017-11-03 11:22] genova opened #474 "Translation: French"
Repository: https://github.com/linux-senegal/opensource.guide
Preview: https://linux-senegal.github.io/opensource.guide
Locale: `fr-FR`

On your fork:

- [ ] Update `title`, `description`, and `locale` in `_config.yml`, and push the branch to the `gh-pages` branch of your fork. This should build the website and it should be visible at the preview url above.
- [ ] Copy `_data/locale/en-US.yml` to a

[2017-11-03 18:31] dim4o opened #475 "Translation: Bulgarian"
Repository: https://github.com/dim4o/opensource.guide
Preview: https://dim4o.github.io/opensource.guide
Locale: `bg-BG`

On your fork:

- [x] Update `title`, `description`, and `locale` in `_config.yml`, and push the branch to the `gh-pages` branch of your fork. This should build the website and it should be visible at the preview url above.
- [x] Copy `_data/locale/en-US.yml` to a new file with t

[2017-11-03 20:01] mlinksva commented on #473
#450 added support for translating that string.

I'm not sure it makes sense to add to https://github.com/github/opensource.guide/blob/c7715ccc367c3636a3edbfbd8cfad5a36a6e934f/docs/templates/translation-issue-template.md because there's now no non-translatable text on the home page.

Could you point to he specific commit in your repo that you're getting that Jekyll failure with?

[2017-11-04 04:44] felixshai commented on #473
In `github/opensource.guide` - `gh-pages` Branch
Turns out that sentence is now placed at `_data\locale\en-US.yml` which is included in translation-issue-template.
My repo was not update to github's version. The sentence is still at '\index.html'.
I'm new to using git. I think I can try my best to merge github's version to my repo and save my already translated article at the same time. Any teachi

[2017-11-04 11:25] lorenzwalthert opened #476 "(more detailed) guide lines on issue management"
This seems like a cool project. I was looking for somehow detailed implementation guide lines on issue management - in particular, on how to label issues of an open-source project. I note that under Section 3 in Practices for Maintainers, you have a paragraph related to it:

In [styler](https://github.com/r-lib/styler), an open-source project I was recently contributing to, I figured out that usin

[2017-11-04 16:55] mlinksva commented on #473
https://help.github.com/articles/merging-an-upstream-repository-into-your-fork/ might help. Feel free to ask if you have troubles.

[2017-11-04 16:55] #473 closed

[2017-11-06 21:19] nayafia commented on #474
@bkeepers this one's for you to review!

[2017-11-06 21:19] nayafia commented on #475
@bkeepers this one's for you to review!

[2017-11-06 21:28] nayafia commented on #476
Hi @lorenzwalthert! Thanks for your suggestion. [Per our contributing guide](https://github.com/github/opensource.guide/blob/gh-pages/CONTRIBUTING.md#ground-rules--expectations), we don't accept self-nominations for resources:

However, if you'd like to contribute a paragraph on how to think about/use labels as a maintainer, that could be useful, either under the Best Practices section you referen

[2017-11-07 21:04] lorenzwalthert commented on #476
Thanks @nayafia, should have read all of your contributing guide then 😊. I am actually also happy to add it with some other existing project, it's just that I have not found one quickly where it would fit. So I guess we can close that issue then.

[2017-11-08 16:49] nayafia commented on #476
👌 thanks @lorenzwalthert!

[2017-11-08 16:49] #476 closed

[2017-11-09 18:48] jens1o commented on #413
https://github.com/jens1o/de-opensource.guide/commit/afda47d62661acf81032a173258b81118cff7306

`Best-Practices` is finished!

[2017-11-12 15:52] danthareja opened #481 "Sharing a project"
Hey there!

I recently released a project that aims to let users apply they concepts they learn in phenomenal guides like this.

https://github.com/danthareja/contribute-to-open-source

In this project, users are given tests and tasked with writing code to DRY up an existing codebase. When they submit a PR, there's some fun back and forth with a bot that interprets their CI results and eventually

[2017-11-13 08:07] MikeMcQuaid commented on #481
Sorry @danthareja, we discourage self-submission of your own content. If it becomes widely useful, others may decide to submit it.

[2017-11-13 08:07] #481 closed

[2017-11-13 13:07] danthareja commented on #481
Fair enough, thank you @MikeMcQuaid.

[2017-11-14 11:39] #328 closed

[2017-11-20 14:16] jens1o commented on #413
Starting a project is finished, too

[2017-11-27 02:16] ockxdd opened #488 "ockxd"
https://guides.github.com/features/mastering-markdown/``

[2017-11-27 02:19] lee-dohm commented on #488
Not sure what you're trying to add here. If this wasn't in error, please clarify :+1:

[2017-11-27 02:19] #488 closed

[2017-12-01 21:54] infotexture opened #491 "Add tips on tracking the number of open issues"
Under [Retention](https://opensource.guide/metrics/#retention), the Metrics guide [suggests](https://github.com/github/opensource.guide/blame/gh-pages/_articles/en-US/metrics.md#L99) tracking the number of open issues and pull requests:

The GitHub UI doesn't currently offer a way to view the development of these metrics over time _(like for contributions, commits, or code frequency)_.

Many maint

[2017-12-05 09:12] culmat opened #495 "Are public GitHub projects open source? - contradiction with terms of service?"
In my understanding,
as of https://github.com/github/opensource.guide/blob/gh-pages/_articles/en-US/legal.md#are-public-github-projects-open-source a public repository without license may not be used, copied, modified, or contributed back to.

Where as of https://help.github.com/articles/github-terms-of-service/#5-license-grant-to-other-users
"By setting your repositories to be viewed publicly, **

[2017-12-05 17:45] mlinksva commented on #495
Control of a repo != ownership of the IP in that repo. I'm afraid your preference is not reality. :smile:

I'll make a PR in a moment that might address the sense that you have that there's a contradiction.

[2017-12-05 19:43] #495 closed

[2017-12-06 04:17] nayafia commented on #491
Hi @infotexture! If you have open source solutions that you'd like to add to the Metrics guide, that'd be great. However, this repo isn't the right place for discussing GitHub feature requests.

Closing this out for now, but if you have specific additions to the Metrics guide that you'd like to suggest, feel free to open a PR.

[2017-12-06 04:17] #491 closed

[2017-12-08 16:57] culmat commented on #495
Hi Mike,
thanks for you quick answer.
I am a litte surprised. https://github.com/ presents its service as _Built for developers_ and _A better way to work together_ with a strong focus on team work.
I am also a great fan of the fork -> pull-request ->merge workflow that has been made popular (if not invented?) by github.

If nobody is allowed to change content of a repository without license I hav

[2017-12-08 18:32] mlinksva commented on #495
@culmat I'll pass your good suggestions along, thanks.

This repo isn't intended for GitHub feature discussions but for what it's worth new license-related features are released from [time to time](https://github.com/blog/search?q=license).

[2017-12-08 21:42] effieMoran commented on #383
Hola, Soy argentina y me interesa colaborar

[2017-12-11 10:05] MikeMcQuaid commented on #468
Done in https://github.com/github/opensource.guide/pull/470, thanks @igorsteinmacher.

[2017-12-11 10:05] #468 closed

[2017-12-11 10:06] MikeMcQuaid commented on #449
Closing this out as I think it's out of scope for this repo as-is and the only attempt so far (https://github.com/github/opensource.guide/pull/458) has stalled, sorry!

[2017-12-11 10:06] #449 closed

[2017-12-11 10:07] MikeMcQuaid commented on #292
Passing on this suggestion, sorry.

[2017-12-11 10:07] #292 closed

[2017-12-11 18:25] Twizzlerseffect commented on #342
Hi, I was wondering if it was still possible to work on this?

[2017-12-23 13:34] leilaniwebcreation commented on #442
Leilaniwebcreation

[2017-12-23 13:34] leilaniwebcreation commented on #442
Open

[2017-12-24 13:55] bangyasri opened #505 "M"
Dari awak untuk kita

[2017-12-26 01:59] guipaes commented on #342
@nandomoreirame still need help translating?

[2017-12-27 07:02] UNGM2000 commented on #465
Possible to conversation work API development.

[2017-12-27 10:23] Dferdi1199 opened #507 "Open secure and guid github"
https://github.com/github/opensource.guide

[2017-12-27 15:59] lee-dohm commented on #507
I'm not sure what the question is here. Let us know :+1:

[2017-12-27 15:59] #507 closed

[2017-12-30 06:21] Dmitriy11111 commented on #505
505

[2018-01-02 08:37] #505 closed

[2018-01-09 13:21] minwook-shin commented on #451
@nayafia @clarkbw
hello..? completed the Korean translation. And i clicked PR buttons. Please confirm. Thank you!

[2018-01-10 14:09] minwook-shin commented on #451
updated locale...!. ko -> ko-kr (config.yml, cname)

[2018-01-11 17:30] ygneo opened #516 "Translation: Spanish (es-ES)"
Disclaimer:

This issue is to add spanish translation (es-ES) locale of the guides. There's an [issue](https://github.com/github/opensource.guide/issues/383) and a [PR](https://github.com/github/opensource.guide/pull/434), but PR build fails, and activity seems stalled.

Repository: https://github.com/ygneo/opensource.guide
Preview: https://ygneo.github.io/opensource.guide
Locale: `es-ES`

On your

[2018-01-13 19:13] ygneo opened #517 "Translation: Catalan (ca-ES)"
Repository: https://github.com/ygneo/opensource.guide
Preview: https://ygneo.github.io/opensource.guide
Locale: ca-ES

On your fork:

- [x] Update `title`, `description`, and `locale` in `_config.yml`, and push the branch to the `gh-pages` branch of your fork. This should build the website and it should be visible at the preview url above.
- [x] Copy `_data/locale/en-US.yml` to a new file with the

[2018-01-16 17:54] nandomoreirame commented on #342
Hi guys, all send merge requests to the repository: https://github.com/nandomoreirame/open-source-guide

Thanks all ^^

[2018-01-19 23:24] kayvee83 opened #523 "Translation: Tamil (ta-IN)"
This issue is to add Tamil translation (ta-IN) locale of the guides. There's an issue (closed) and a PR(open),  and activity seems stalled.

Repository: https://github.com/kayvee83/opensource.guide
Preview: https://kayvee83.github.io/opensource.guide Locale: ta-IN

On your fork:

- [x] Update `title`, `description`, and `locale` in `_config.yml`, and push the branch to the `gh-pages` branch of you

[2018-01-24 13:36] Roshankd1 opened #525 "Translation: Nepalese"
My mother tongue is Nepalese and also I am a fluent English speaker. I graduated with Finance Degree from University in the UK.

I really look forward to pursuing career as a programmer.

[2018-01-25 16:47] caolyhuynh commented on #525
100,000

[2018-01-26 08:44] Roshankd1 commented on #525
sorry @caolyhuynh
whats 100,000?

[2018-01-28 07:05] virenparmar opened #528 "Translation: Gujarati"

[2018-01-28 07:06] virenparmar commented on #528
I am providing guide in Gujarati language

[2018-01-29 12:56] sepatus opened #531 "owino"
https://github.com/github/opensource.guide.git

[2018-02-08 12:56] alexrj opened #537 "Translation: Italian"
Repository: https://github.com/italia/opensource.guide
Preview: https://italia.github.io/opensource.guide
Locale: `it-IT`

On your fork:

- [x] Update `title`, `description`, and `locale` in `_config.yml`, and push the branch to the `gh-pages` branch of your fork. This should build the website and it should be visible at the preview url above.
- [x] Copy `_data/locale/en-US.yml` to a new file with

[2018-02-09 07:57] ghost opened #538 "Translation : Tagalog or Filipino"
Hi sir, I would like to ask if I can translate it in Tagalog Dialect?

[2018-02-10 15:37] ceparl opened #539 "Translation: Spanish"

[2018-02-11 15:40] IBLoud opened #540 "Repo referenced in 'Avoiding name conflicts' has an issue"
Text 'Check for open source projects with a similar name' refers to repo: https://github.com/LogIN-/ospnc

Issue [22](https://github.com/LogIN-/ospnc/issues/22) and [23](https://github.com/LogIN-/ospnc/issues/23) should be addressed or another repo referenced for this section of the guide.

[2018-02-12 17:45] vanetellez opened #541 "Owner"

[2018-02-12 17:47] #541 closed

[2018-02-13 11:35] revadox commented on #528
i also want to contribute for Gujrati Translation

[2018-02-13 13:59] MikeMcQuaid commented on #540
Even although it's unmaintained http://ivantomic.com/projects/ospnc/ is still working.

[2018-02-13 13:59] #540 closed

[2018-02-13 14:00] MikeMcQuaid commented on #539
Would love your help! Closing in favour of https://github.com/github/opensource.guide/issues/383 and https://github.com/github/opensource.guide/issues/516, though.

[2018-02-13 14:00] #539 closed

[2018-02-13 14:02] MikeMcQuaid commented on #442
As of https://github.com/github/opensource.guide/pull/543 this script has been removed and the translation contribution workflow changed.

[2018-02-13 14:02] #442 closed

[2018-02-13 14:05] MikeMcQuaid commented on #516
Closing in favour of https://github.com/github/opensource.guide/issues/383 which will be merged into this repository in some form. Would love your help on that.

[2018-02-13 14:05] #516 closed

[2018-02-13 14:08] MikeMcQuaid commented on #525
@Roshankd1 We'll accept pull requests to add this translation: https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md

[2018-02-13 14:08] #525 closed

[2018-02-13 14:08] MikeMcQuaid commented on #528
@virenparmar @revadox We'll accept pull requests to add this translation: https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md

[2018-02-13 14:08] #528 closed

[2018-02-13 14:08] MikeMcQuaid commented on #538
We'll accept pull requests to add this translation: https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md

[2018-02-13 14:08] #538 closed

[2018-02-13 16:27] #383 closed

[2018-02-13 17:17] MikeMcQuaid commented on #299
@webknjaz Apologies this PR has been neglected for so long. I've merged the first translation to this repository (Spanish) and updated the documentation on the latest translations approach (https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md). Please submit a pull request when you have translated all articles and checked `./script/test` passes and I'll get it merged in AS

[2018-02-13 17:17] #299 closed

[2018-02-13 17:18] MikeMcQuaid commented on #342
@nandomoreirame Apologies this PR has been neglected for so long. I've merged the first translation to this repository (Spanish) and updated the documentation on the latest translations approach (https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md). Please submit a pull request when you have translated all articles and checked `./script/test` passes and I'll get it merged

[2018-02-13 17:18] #342 closed

[2018-02-13 17:18] MikeMcQuaid commented on #413
@jens1o Apologies this issue has been neglected for so long. I've merged the first translation to this repository (Spanish) and updated the documentation on the latest translations approach (https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md). Please submit a pull request when you have translated all articles and checked `./script/test` passes and I'll get it merged in A

[2018-02-13 17:18] #413 closed

[2018-02-13 17:18] MikeMcQuaid commented on #435
@subkrish Apologies this issue has been neglected for so long. I've merged the first translation to this repository (Spanish) and updated the documentation on the latest translations approach (https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md). Please submit a pull request when you have translated all articles and checked `./script/test` passes and I'll get it merged in

[2018-02-13 17:18] #435 closed

[2018-02-13 17:18] MikeMcQuaid commented on #465
@nasirkhan Apologies this issue has been neglected for so long. I've merged the first translation to this repository (Spanish) and updated the documentation on the latest translations approach (https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md). Please submit a pull request when you have translated all articles and checked `./script/test` passes and I'll get it merged i

[2018-02-13 17:18] #465 closed

[2018-02-13 17:18] MikeMcQuaid commented on #471
@felixshai Apologies this issue has been neglected for so long. I've merged the first translation to this repository (Spanish) and updated the documentation on the latest translations approach (https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md). Please submit a pull request when you have translated all articles and checked `./script/test` passes and I'll get it merged i

[2018-02-13 17:18] #471 closed

[2018-02-13 17:19] MikeMcQuaid commented on #474
@genova Apologies this issue has been neglected for so long. I've merged the first translation to this repository (Spanish) and updated the documentation on the latest translations approach (https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md). Please submit a pull request when you have translated all articles and checked `./script/test` passes and I'll get it merged in A

[2018-02-13 17:19] #474 closed

[2018-02-13 17:19] MikeMcQuaid commented on #475
@dim4o Apologies this issue has been neglected for so long. I've merged the first translation to this repository (Spanish) and updated the documentation on the latest translations approach (https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md). Please submit a pull request when you have translated all articles and checked `./script/test` passes and I'll get it merged in AS

[2018-02-13 17:19] #475 closed

[2018-02-13 17:19] MikeMcQuaid commented on #517
@ygneo Apologies this issue has been neglected for so long. I've merged the first translation to this repository (Spanish) and updated the documentation on the latest translations approach (https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md). Please submit a pull request when you have translated all articles and checked `./script/test` passes and I'll get it merged in AS

[2018-02-13 17:19] #517 closed

[2018-02-13 17:19] MikeMcQuaid commented on #523
@kayvee83 Apologies this issue has been neglected for so long. I've merged the first translation to this repository (Spanish) and updated the documentation on the latest translations approach (https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md). Please submit a pull request when you have translated all articles and checked `./script/test` passes and I'll get it merged in

[2018-02-13 17:19] #523 closed

[2018-02-13 17:19] MikeMcQuaid commented on #537
@alexrj Apologies this issue has been neglected for so long. I've merged the first translation to this repository (Spanish) and updated the documentation on the latest translations approach (https://github.com/github/opensource.guide/blob/gh-pages/docs/translations.md). Please submit a pull request when you have translated all articles and checked `./script/test` passes and I'll get it merged in A

[2018-02-13 17:19] #537 closed

[2018-02-13 17:38] MikeMcQuaid commented on #451
Closing in favour of PR in #514; will continue talking there.

[2018-02-13 17:38] #451 closed

[2018-02-13 17:46] kayvee83 commented on #523
sure. Thanks

[2018-02-13 19:18] jens1o commented on #413
@MikeMcQuaid Alright, thanks.

[2018-02-16 11:45] ygneo commented on #516
@MikeMcQuaid Sorry, but the issue #383 is for a different spanish locale (`es-AR`). The work in this issue is for the spanish locale `es-ES`. We have already translated several files in our fork, and I just updated the status on this issue.

[2018-02-16 12:55] MikeMcQuaid commented on #516
@ygneo When the translation is complete (note the translation process has changed): please open a PR to add it to this repo. Thanks!

[2018-02-17 02:21] willysr opened #553 "Incomplete Korean Translations"
in ko.yml, these text are not yet translated
`format: "[code] with [love] by [github] and [friends]"`

cc @minwook-shin

[2018-02-17 05:38] minwook-shin commented on #553
@willysr , Thanks to this issue, I translated some untranslated data text!

[2018-02-18 01:17] srabon6114 opened #555 "bitcoin wallet, blockcain wallet, coinbase wallet, exchange wallet"

[2018-02-19 08:18] MikeMcQuaid commented on #553
Thanks for the issue @willysr and for @minwook-shin fixing it in https://github.com/github/opensource.guide/pull/554.

[2018-02-19 08:18] #553 closed

[2018-02-19 08:19] #555 closed

[2018-02-21 06:25] BenoitTordeurs opened #557 "benoit_tordeurs"
benoit_tordeurs
![11-11-11a 11hrs parc waterloo 005](https://user-images.githubusercontent.com/28506156/36466054-731399fc-16d8-11e8-8cb8-828f2281f738.JPG)

[2018-02-21 08:45] #557 closed

[2018-02-21 18:43] jackthomsaon opened #562 "How to activate key norton"
f you have already installed your Norton product, follow these steps to locate your product key and activate your product at – Norton.com/activate[https://www.activate-norton-setup.com](url)

[2018-02-21 18:45] #562 closed

[2018-02-23 15:35] marcorichetta opened #566 "Typo (Spanish guide translation)"
This is located at the [Spanish contribution guide](https://opensource.guide/es/how-to-contribute/)

LCENSE should be LICENSE [Link](https://github.com/github/opensource.guide/blob/master/_articles/es/how-to-contribute.md#una-lista-de-verificaci%C3%B3n-antes-de-que-contribuyas)

Also, the link that appears at the bottom of the page [Contribuir](https://github.com/github/opensource.guide/edit//_art

[2018-02-23 15:55] MikeMcQuaid commented on #566
@marcorichetta Thanks! Could you submit a pull request for these changes?

[2018-02-23 19:56] marcorichetta commented on #566
@MikeMcQuaid I made the pull request but I don't know if I made it right.
It needs a reviewer but I can't add one.
Thanks anyway!

[2018-02-25 23:23] ZHEXIONGHAN commented on #566
I made the pull request but I don't know if I made it right.
It needs a reviewer but I can't add one.
Thanks anyway

[2018-02-25 23:27] rbstrachan opened #569 "Link to contribute broken"
### Description
At the very bottom of the website, there is a link to contribute to this repository. When clicked, it leads to a 404 Error.

### Steps to Reproduce

1. Go to `opensource.guide`
2. Scroll to very bottom of webpage
3. Click `Contribute` link

**Expected behavior:**
Redirect to this (?) repository.

**Actual behavior:**
404 Error

**Additional Information:**
I have read the [contribut

[2018-02-26 08:16] MikeMcQuaid commented on #569
Thanks for the report! Fixed in https://github.com/github/opensource.guide/pull/568.

[2018-02-26 08:16] #569 closed

[2018-02-26 08:18] MikeMcQuaid commented on #566
Fixed in https://github.com/github/opensource.guide/pull/567, thanks @marcorichetta!

FYI the reviewer just means someone working for GitHub needs to approve and then merge your PR.

[2018-02-26 08:18] #566 closed

[2018-03-09 16:29] ygneo commented on #516
Hi again @MikeMcQuaid

We've seen that spanish translation is already deployed, and it is accessible through the language select box. That's the argentinian spanish locale (`es-AR`), and we are wondering something.

Once our translation (spanish locale `es-ES`) is ready, how are you going to add it to the site? A new entry in the language select box will be added? Are you going to end up having "S

[2018-03-10 05:21] katrinleinweber commented on #413
Hi @jens1o! I wanted to [start translating](https://github.com/github/opensource.guide/pull/577) according to the [new site structure](https://github.com/github/opensource.guide/blob/master/docs/translations.md) as well. Do you still have the repo so I can contribute there? Or shall I invite you to [mine](https://github.com/katrinleinweber/opensource.guide/commits/de)? Or @MikeMcQuaid can we both

[2018-03-10 06:27] jens1o commented on #413
@katrinleinweber Could you invite me to yours please? I've deleted mine, since it was out-of-date.

[2018-03-10 07:30] katrinleinweber commented on #413
People don't want backup, people want restore ;-)

No worries! I [pushed a draft translation of `best-practices`](https://github.com/katrinleinweber/opensource.guide/commit/920ecc1efcacf2a4fdde16c720426cc567dcebe2). Please feel free to rewrite it and force-push to remove the `WIP` in the commit message. But only there, please ;-)

I will also stop force-pushing now.

Once I am finished with `metri

[2018-03-10 17:13] jens1o commented on #413
Sounds good :)

[2018-03-12 09:36] MikeMcQuaid commented on #516
We haven't decided yet but: yes, mostly likely.

[2018-03-19 16:11] isomorphisms opened #582 "how do people make money from open source?"
This would be a good question to answer on your site.

[2018-03-19 16:37] isomorphisms opened #583 ""stale" issues"
https://opensource.guide/metrics/

I don’t believe issues should be closed simply because time has elapsed. They should be dismissed, addressed, or marked as infeasible based on their own merits.

[2018-03-19 17:38] lee-dohm commented on #583
Thanks for contributing.

I'm not sure what the expected action is here. We use Issues as work items to be completed, done, or otherwise laid to rest. All I see here is a statement of an opinion. While it is completely valid as an opinion, there isn't anything to be "done" with it. As such, I'm going to close this for now.

If I'm misunderstanding something, please let us know :+1:

[2018-03-19 17:38] #583 closed

[2018-03-19 17:56] lee-dohm commented on #582
There's a whole section on "getting paid": https://opensource.guide/getting-paid/

[2018-03-19 17:56] #582 closed

[2018-03-21 19:38] owocki opened #585 "Add a section, dev grants, ethical advertising on Getting Page"
Hi there.

Kevin Owocki here from [Gitcoin](https://gitcoin.co) -- Our mission is to grow open source with incentivization mechanics.

I was wondering if the repository maintainers would be open to our opening up a PR to add a few more thoughts about crowdfunding, ethical advertising, dev grants, etc to the [Getting Paid page](https://opensource.guide/getting-paid/).

Thanks,
Kevin

[2018-03-26 13:51] MikeMcQuaid commented on #585
@owocki If that PR doesn't make any references to Gitcoin: we'd be open to that. If someone unaffiliated with Gitcoin adds the reference in future that would be OK but we're pretty strict on avoiding self-promotion. Thanks!

[2018-03-26 13:51] #585 closed

[2018-03-26 14:01] owocki commented on #585
hey Mike, I totally understand.  thanks for letting me know the guidelines here.

[2018-03-29 18:49] fv3rdugo opened #589 "Subscribe form doesn't work"
In the "Stay in touch" form at the bottom of the https://opensource.guide/ page:
Subscribe doesn't work.
I do not know if it is here to report it.
Thanks in advance.

[2018-03-30 07:26] MikeMcQuaid commented on #589
Can you elaborate on how it doesn't work? I see "thanks for subscribing"? Do you have JavaScript enabled in your browser? What browser is it?

[2018-03-31 05:50] fv3rdugo commented on #589
I'm sorry, I should have given more details.
With Firefox 59.0.2 (64 bits) it didn't work, however with Chrome Version 65.0.3325.181 (Official Assembly) (64 bits) has worked well. In both JavaScript it's enabled.

[2018-03-31 05:59] fv3rdugo commented on #589
I found the problem in Firefox browser: tracking protection blocked JavaScript.

The resource of the site has been blocked «https://github.us11.list-manage.com/subscribe/post-jsonXXXX» because the protection against tracking is enabled.

[2018-03-31 05:59] #589 closed

[2018-03-31 06:20] fv3rdugo commented on #517
I would like to contribute to Catalan translation.
I follow [this](https://github.com/github/opensource.guide/blob/master/docs/translations.md) documentation.
This is my [fork](https://github.com/fv3rdugo/opensource.guide/tree/ca).

[2018-04-02 07:40] MikeMcQuaid commented on #517
@fv3rdugo Please submit a PR when you're done, thanks!

[2018-04-20 05:26] sara0871 opened #598 "readme-edits"

[2018-04-20 05:28] sara0871 commented on #598
Feature

[2018-04-20 05:48] sara0871 commented on #598
Backlog

[2018-04-20 05:49] sara0871 commented on #598
Rwady

[2018-04-20 05:49] sara0871 commented on #598
Progress

[2018-04-20 05:49] sara0871 commented on #598
Done

[2018-04-20 05:50] sara0871 commented on #598
feature

[2018-05-24 07:28] jowagner opened #617 "address poorly maintained projects"
The guide so far doesn't address the delicate task of getting an unmaintained or poorly maintained project back on track when one isn't (yet) part of the maintainer team. There are many projects out there that have a small but significant user base and no or inadequate maintenance. Forking is unattractive as one cannot continue with the old project name, website and source code repository. A take-

[2018-05-27 23:29] k-syusteem opened #618 "Open Source Guides LOGO"
### Hello @everyone!

Currently there is a special logo / icon owned by Open Source Guides?

[2018-06-03 22:13] solarsystem1817 commented on #618
@k-syusteem

[2018-06-04 14:36] petrk94 opened #628 "Help for translation?"
Hello,

I would like to help here to translate the website to german, can I contribute here for that?

Thanks

[2018-06-04 21:44] mlinksva commented on #628
Instructions at https://github.com/github/opensource.guide/blob/master/docs/translations.md

[2018-06-04 21:44] #628 closed

[2018-06-04 21:51] mlinksva commented on #618
If you're asking whether an Open Source Guides logo exists, I don't see one. 😄

Feel free to be more specific and ask again if you had a different question.

[2018-06-04 21:51] #618 closed

[2018-06-04 21:54] mlinksva commented on #617
See #289 for some related prior discussion.

[2018-06-04 21:56] mlinksva commented on #628
Oh, see #577 for a German translation in progress. Perhaps you can help?

[2018-06-04 22:12] petrk94 commented on #628
thank you @mlinksva

[2018-06-05 12:25] ekolitdrv opened #631 "title"
_articles/code-of-conduct.md

[2018-06-05 12:26] ekolitdrv opened #632 "design"
_articles/code-

[2018-06-05 18:13] #631 closed

[2018-06-05 18:13] #632 closed

[2018-06-06 10:03] jowagner commented on #289
@stale: One week notice for closing an issue due to inactivity is way too short. The issue owner may be on vacation or be busy with other work.

[2018-06-06 15:08] ramadankini commented on #617
Request Change

[2018-06-06 16:18] jowagner commented on #617
@ramadankini: Please elaborate. Are you requesting a change, do you suggest that I should request a change, what change...?

[2018-06-06 16:56] ramadankini commented on #617
Nothing.

..Ignore that typos

[2018-06-06 17:54] mlinksva commented on #289
@jowagner feel free to open a PR suggesting a different timeframe. It's specified for this repo at https://github.com/github/opensource.guide/blob/9983df5a9aec88fb495bcb53f832dc3ba0d2c7a7/.github/stale.yml#L6

If you're interested in helping with stalebot generally, the code is at https://github.com/probot/stale ... I have my own [wishes](https://github.com/probot/stale/issues/73) for attenuation

[2018-06-06 19:37] k-syusteem commented on #618
I will design it for you, is it possible?

[2018-06-06 21:42] mlinksva commented on #618
Hi @k-syusteem thanks for the offer but I don't think we're looking for a project logo at this time.

[2018-06-07 07:06] jowagner commented on #289
Thanks. I'll look into it on the 27th.

[2018-06-13 01:12] khai1996 commented on #617
unable the device by qualxom

[2018-06-14 14:26] jschiarizzi opened #638 "Address new bounty platforms as a way for getting paid for time working on open source"
New platforms like gitcoin (its not a currency) and Bounties Network are homes to funded issues that open source projects want help on.  This is also used to recruit developers interested in those projects.

Would be added to https://opensource.guide/getting-paid/#funding-your-own-time

I don't work for these platforms but I do like them a lot, and have been paid for contributing to open source fo

[2018-06-16 01:21] jschiarizzi commented on #638
@mlinksva who else can we get to look at this and #639?

[2018-06-16 21:15] mlinksva commented on #638
Let's try pinging @nayafia who is the expert and probably wrote much of this guide (but no longer has any obligation with the project, feel free to ignore). 🙇

[2018-06-18 17:34] nayafia commented on #638
Thanks for the ping! Left a review on #639.

While I'm not personally in love with bounty programs, I recognize they've become increasingly popular especially among crypto projects. @jschiarizzi I really like that 1) you included specific examples of successful bounties, 2) the change is well-written overall, and 3) this isn't a self-promotional contribution, so all that makes me 👍 on adding it in

[2018-06-18 17:59] jschiarizzi commented on #638
Thank you for taking the time to look at that @nayafia. I recognize that this may seem a bit spammy, which is why I also opened an issue with the PR

[2018-06-18 19:08] #638 closed

[2018-06-19 14:55] stevenr78 opened #645 "ANDROID"

[2018-06-19 15:35] #645 closed

[2018-06-22 07:13] dedeswim opened #648 "Problem with ./script/bootstrap"
Good morning, I'd like to work on the Italian translation of the website, I've forked the repo and I've begun translating. I was about to test, and, after installing Jekyll, I couldn't run it (just) in the folder. In fact, when I run `jekyll -v` inside the folder I get the following error:
[code]
If I run it outside the folder, the output is:
`jekyll 3.8.3`

When I try to run `./script/bootstrap`,

[2018-06-23 01:31] #648 closed

[2018-07-05 02:43] honemepool commented on #617
Opp

[2018-07-05 03:10] honemepool commented on #617
Please

[2018-07-21 05:00] Benerdchia commented on #617
#617

[2018-07-23 05:36] Seilamuk commented on #617
Something support

[2018-07-23 18:33] Benerdchia commented on #617
#617

[2018-07-23 19:04] eorry opened #660 "MBCmis"
[MBCmis_0.1.1.tar.gz](https://github.com/github/opensource.guide/files/2220681/MBCmis_0.1.1.tar.gz)

[2018-07-23 19:35] #660 closed

[2018-07-24 06:01] walka69 commented on #617
https://github.com/github/opensource.guide/issues/617

[2018-07-31 10:07] florecitaaa33 opened #674 "1"

[2018-07-31 22:31] #674 closed

[2018-08-11 20:32] mlinksva opened #686 "Eliminate page.toc in _articles?"
These need to match section titles in the text (i.e., are duplicative) and ought to be able to be generated in `_layouts/article.html` by splitting `page.content` into lines, looping through and skipping everything not a 2nd level header, and encoding each title found, but I haven't tried.

Motivation: I imagine creating the below (example from [es/legal.md](https://github.com/github/opensource.gu

[2018-08-13 09:01] MikeMcQuaid commented on #686
I'd be in favour of removing these, at least from translations.

[2018-08-13 09:02] MikeMcQuaid commented on #617
Thanks for the issue! We're not currently creating new guides at this time. My personal advice in those situations would be forking the project and, if the fork gets enough steam, considering renaming the project.

[2018-08-13 09:02] #617 closed

[2018-08-16 08:02] hessaa22 opened #693 "imii"
356773081144893

[2018-08-21 21:18] tripcall opened #694 "Brazilian Portuguese Translation"
Hi Everyone,

I've been looking for ways to contribute to an Open Source project and found amazing information through Open Source Guide, so I would like to know if it is of any interest a Brazilian Portuguese Translation.

Best Regards,

[2018-08-21 21:55] mlinksva commented on #694
Absolutamente! (No idea if that's idiomatic. :smile:)

See our brief doc on [starting a new translation](https://github.com/github/opensource.guide/blob/master/docs/translations.md).

[2018-08-22 01:27] tripcall commented on #694
Hey Mike,

Thanks for the reply.

Great Portuguese, you can use Absolutamente, but it is not that usual, a more usual or informal way would be "Claro!" or "Com certeza!" :)

I'm following the new translation steps, so, hope to send a pull request as WIP very soon.

Hope to contribute in a meaningful way.

Thanks a lot !

[2018-08-22 07:34] MikeMcQuaid commented on #694
Yes, this would be great, thanks!

[2018-08-22 07:34] #694 closed

[2018-09-05 03:23] InfyMegha opened #700 "Test"
Test

[2018-09-05 08:17] #693 closed

[2018-09-05 08:17] #700 closed

[2018-09-05 13:49] 18140670378 commented on #686
haha

[2018-09-08 17:50] ajax14 opened #703 "ajax14"

[2018-09-08 17:51] ajax14 commented on #703
ajax14

[2018-09-08 17:52] ajax14 commented on #703
ajax14

[2018-09-08 17:52] #703 closed

[2018-09-10 00:44] A-red-BREASTED-robin commented on #686
i have no idea what to do with the what ever this stuff is. i believe that some how i am following a trace of the programming. as if some bodies were following me or something. its like i am reverse learning about this stuff from what other people are doing around me.

[2018-09-10 00:45] A-red-BREASTED-robin commented on #686
it's very interesting to see

[2018-09-28 17:29] guanwenlng commented on #686
toc:
  por-qu&eacute;-la-gente-se-preocupa-tanto-acerca-de-los-aspectos-legales-del-c&oacute;digo-abierto: "¿Por qu&eacute; la gente se preocupa tanto acerca de los aspectos legales del c&oacute;digo abierto?"
  son-p&uacute;blicos-los-proyectos-de-c&oacute;digo-abierto-de-github: "¿Son p&uacute;blicos los proyectos de c&oacute;digo abierto de GitHub?"
  solo-dame-un-resumen-acerca-de-lo-que-neces

[2018-10-02 10:37] k120563295 commented on #686
關於通緝的問題，其實在我個人的一例案件中，沒有人起訴，檢察官依法提上訴高院，結果不起訴處分，而地檢署檢察官又再次以同一案件筆錄為源，顛倒是非的起訴筆錄以個人憑空想像捏造不實指控，再次以同一筆錄換一個偵查案號將不起訴案處份案件再提訴，以至於我今天面臨通戢的命運，不過明天我會去報到，包括我上一次案件，也是因為證人說謊汙衊指證，後來我告他做偽證他也承認了，但檢察官以他是為了迴護我而說謊而成立的偽證罪被判四月徒刑，而我還是執刑三年八個月的冤刑，關了兩年八個多月才假釋出獄

[2018-10-07 21:39] mlinksva commented on #81
Backdown again, nudged at https://github.com/LogIN-/ospnc/issues/21#issuecomment-427689274

[2018-10-07 21:57] mlinksva commented on #81
Thanks @LogIN-

[2018-10-07 21:57] #81 closed

[2018-10-08 06:30] mcnk899 opened #722 "code of conduct."
[Authenticator-07e77f5382a33291fabe5fb9d2362fd7f946abb7 (1).zip](https://github.com/github/opensource.guide/files/2454838/Authenticator-07e77f5382a33291fabe5fb9d2362fd7f946abb7.1.zip)
[Authenticator-07e77f5382a33291fabe5fb9d2362fd7f946abb7.zip](https://github.com/github/opensource.guide/files/2454839/Authenticator-07e77f5382a33291fabe5fb9d2362fd7f946abb7.zip)
[](url) @ @ @ @

[2018-10-08 06:35] mcnk899 commented on #722
[README.TXT](https://github.com/github/opensource.guide/files/2454867/README.TXT)
[``](` @url`)

[2018-10-09 07:46] Candyman256 opened #726 "C program to print prime numbers in a given range"
I failed to do the nesting of if and for loops

[2018-10-09 07:57] #726 closed

[2018-10-09 07:57] #722 closed

[2018-10-09 08:08] Candyman256 commented on #726
But I didn't get the code

On Tue, Oct 9, 2018, 10:57 AM Mike McQuaid <notifications@github.com> wrote:

[2018-10-09 08:43] webknjaz commented on #726
@Candyman256 this repo is dedicated to making a website about contributing to Open Source.
Your question most likely belongs to StackOverflow, please try posting it there.

[2018-10-11 00:16] Iosunlock opened #728 "Unlock all device"

[2018-10-11 00:17] Iosunlock commented on #728
See all http link

[2018-10-11 00:17] #728 closed

[2018-10-12 13:02] ioAVAqd commented on #728
thanks

[2018-10-19 22:11] GoldAtomFussio opened #735 "KOMODA"
index.html

[2018-10-22 10:53] Ifyokoh opened #739 "Add First Contributions"
I want to add [First contributions](https://github.com/firstcontributions/first-contributions) to this project.
First contributions helps beginners get started with contributing to open source projects and it helped me personally as a beginner and first timer to make my first contribution [here](https://github.com/Ifyokoh/first-contributions)  It was so straight forward and hands-on you can contri

[2018-10-22 13:22] #735 closed

[2018-10-23 15:05] MikeMcQuaid commented on #739
Thanks for the suggestion! We'll accept a PR to add this.

[2018-10-24 12:05] #739 closed

[2018-11-01 17:20] HleloNcube opened #752 "INQUIRY"
Good evening GitHub. Cn you please help me out on how to promote my clothing designs and contribute to GitHub

[2018-11-01 18:51] #752 closed

[2018-11-02 22:16] 11581536 opened #753 "Как удалить сгенерированный код мой личный кабинет F.W.A.M."
Прошу у кого помощь меня исследование чтоб удалить личный кабинет сгенерированный код, хочу открыть ЛК!!!

[2018-11-04 18:13] Iosunlock commented on #753
Languages

[2018-11-11 03:36] jaymifoster commented on #753
[translated_code.pdf](https://github.com/github/opensource.guide/files/2569023/translated_code.pdf)

[2018-11-11 03:38] jaymifoster commented on #686
function Wp(b){return function(){if(wo()){return Xp(b,this,arguments)}else{var a=Xp(b,this,arguments);a!=null&&(a=a.val);return a}}}
function wp(a){if(a.b>=0){return}op(a);np(a);if(qp(a.g)){return}if(Gp(a.i)>0){vp(a,Ep(a.i));return}if(Gp(a.j)>0){vp(a,Fp(a.j));return}}
function mKc(a,b){if(a.e>b.e){return 1}if(a.e<b.e){return -1}if(a.d>b.d){return a.e}if(a.d<b.d){return -b.e}return a.e*aLc(a.a,b.a,

[2018-11-11 03:40] jaymifoster commented on #686
translated to russian
функция wp (b) {return function () {if (wo ()) {return Xp (b, this, arguments)} else {var a = Xp (b, this, arguments); a! = null && (a = a .val); return a}}}
функция wp (a) {if (ab> = 0) {return} op (a); np (a); if (qp (ag)) {return}, если (Gp (ai)> 0) {vp (a, Эп (аг));}, если возврат (Gp (ах)> 0) {VP (а, Рр (ах));}} возвращение
функция mKc (a, b) {if (ae> be) {return 1} if (

[2018-11-13 20:34] #753 closed

[2018-11-20 18:21] kenken1mura commented on #686
delete

[2018-11-20 18:21] kenken1mura commented on #686
stop

[2018-11-22 12:58] katrinleinweber commented on #686
In the meantime: This trick worked for me in #577:

1. Use Atom & install [change-case](https://atom.io/packages/change-case)
2. Translate the headings in the text & copy from there
3. Paste into ToC twice, replacing both the string and the slug
4. Select slug, `Ctrl`+`Shift`+`P`, type `param` & hit `Enter`/`Return`

cc #702, #709, #715, #670, #627

[2018-12-07 22:18] Soria0906 commented on #686
Ok

[2018-12-27 08:02] zhaiyusci opened #789 "Typesetting error in Chinese pages rendering using Firefox"
Hi!
I find a problem when I use Firefox browsing the Chinese translation of the guide.
The problem can be easily found if look at the screen shot I upload.  In Firefox, the Chinese subtitles do not wrap.  In Chrome, they behave properly.  No such issue in English page.
I am using Firefox 64.0.

![Screen sot](https://user-images.githubusercontent.com/3461548/50471556-36574200-09f0-11e9-891b-19da308

[2018-12-27 21:10] mlinksva commented on #789
Hi @zhaiyusci thanks for the bug report! I can reproduce this; direct link to URL screenshot is taken of https://opensource.guide/zh-cn/how-to-contribute/#what-it-means-to-contribute

It seems to have to do with `keep-all` introduced in https://github.com/github/opensource.guide/pull/714

It looks like this improves Chrome's word breaking for CJK but causes Firefox to not break at all, at least in

[2018-12-28 15:36] fujisawakazuhiro commented on #789
keep-all

[2018-12-29 01:08] lqez commented on #789
I will try to figure out. Thanks for CC.

[2018-12-29 18:57] mlinksva commented on #789
@lqez fixed this with #792, thanks!

If any Chinese or Japanese expert wishes to enable specifically for those languages as @lqez did for Korean in #792 and get working in both Firefox and Chrome, they can in the future.

[2018-12-29 18:57] #789 closed

[2018-12-31 14:19] leolleocomp opened #793 "node_modules not on .gitignore"
I've faced this when working on  #715 . I've checked out the [master's .gitignore](https://github.com/github/opensource.guide/blob/master/.gitignore) and it also doesn't list node_modules. Is there any reason behind that? I mean, my branch right now is tracking every change on npm packages, and I'm wondering if this is the desired result and why.

[2018-12-31 14:31] shiftkey commented on #793
@leolleocomp I'd take in a PR that ignores `node_modules` and removes what's currently in there.

[2018-12-31 17:48] leolleocomp commented on #793
Going to take this path, thank you.

[2019-01-01 08:05] jillmarie350 commented on #793
It will do what it says to do if you follow the directions

[2019-01-01 08:07] jillmarie350 commented on #793
I have no more to say

[2019-01-02 03:10] sampo76 commented on #531
Siip lah

[2019-01-02 05:40] #531 closed

[2019-01-02 07:20] sampo76 commented on #531
I m not ptojek

[2019-01-02 20:46] kenyonj commented on #793
This breaks GitHub Pages so it is being added back in with https://github.com/github/opensource.guide/pull/798

[2019-01-02 22:19] leolleocomp commented on #793
Hi @kenyonj , thanks for the observation!

Do you know any workaround on this issue, or if it's really necessary?

[2019-01-02 22:22] kenyonj commented on #793
It looks like our design systems team is looking into it. There are a couple of alternatives, some better than others, and I'll make sure to update this issue once we decide which way to proceed.

[2019-01-04 17:00] MikeMcQuaid commented on #793
Thanks for the issue @leolleocomp but as mentioned above this is needed for GitHub Pages and I don't see a pressing need to change this.

[2019-01-04 17:00] #793 closed

[2019-01-08 08:58] donzov opened #809 "Ru"

[2019-01-15 07:25] sdaosx opened #817 "Ngrok"

[2019-01-15 14:14] #817 closed

[2019-01-20 17:24] Victorsj opened #822 "UI / UX - Language option on footer"
Hey everyone,
I'm new on trying to contribute here, so i'm sorry if this is not on the right place or something, i will happily accept advice on how to better contribute.
I'm a UX designer and, one thing i noticed could be an improvement would be to bring the language option on the front page from  the footer to a more visible area, maybe even the header, i guess a user who doesn't understand the

[2019-01-20 22:19] mlinksva commented on #822
I know nothing about UX but what you say makes sense to me. I imagine this is a well studied topic. Can you point to best practices? I searched and found sites like http://www.flagsarenotlanguages.com/blog/best-practice-for-presenting-languages/ but kind of expected something more "authoritative" perhaps published by the UN, a government, the W3C...

[2019-01-21 14:37] JNeece commented on #822
function n (t) {return e (t) == st || t function of (y, t, ft, e)} function i (){} function o (t, e){var n, r, i, o, a, c = [], f = 0; if (t) {try {if (n = typeof t, n == lt || t.top == top || t.nodeType ||t. tagName) return c; if (n == dt && (c = t.split ("")), n! = out) return c; o =t [0], f = s (t [Tt],Ct) i = (o, c)} catch (u) {c = [], f = 0, t = ft} if (f> 0) {try {t.constructor === It && (c

[2019-01-25 06:12] codinggirl commented on #822
Maybe place the option in the top is a good idea.

Ones who will select their language first time when into the page.

[2019-01-25 06:27] codinggirl opened #828 "Language option's location not correct when deploy the site in a sub dir"
The code at `/assets/js/locale.js` line 7:
[code]

The url works fine if the project deploy in a root dir, but not work in the sub dir.

If I folk this project in my repo, it's gh-pages url is `https://codinggirl.github.io/opensource.guide/`, and the language select did not work rightly.

[2019-01-27 08:48] woznny commented on #828
Ulster Bank

[2019-01-31 02:07] IDEAL-YANG commented on #822
I also think that place the option in the top is a good idea.
I prefer place the option in the top right corner.

[2019-02-01 14:12] Victorsj commented on #822
hey everyone,

i agree with @mlinksva that it would be nice to do this based on best pratices from trusted sources,
i found some at w3c
https://www.w3.org/International/questions/qa-navigation-select

i'm sharing this now but i'll still read up on this and give an opinion later.

also a small input from Jakob Nielsen, an author i really like
https://www.nngroup.com/articles/flag-problems/

and a v

[2019-02-01 14:15] eupiteco commented on #822
I agree the language selector should be visible at first sight. Imagine the following scenario: you have little or no hability to read long texts in english and you fall at a english website with no translation option visible, so you don't know exactly what is going on, and you'll have to guess that *if* there is a translation option, it may be at the bottom of the page. Entering one of the articl

[2019-02-03 01:16] ray1981jacob commented on #822
Okay imma try again tomorrow we you think of something else

[2019-02-03 09:07] guanwening commented on #828
Language option's location not correct when deploy the site in a sub dir #828
@codinggirl
codinggirl opened this issue 9 days ago • edited 9 days ago
The code at /assets/js/locale.js line 7:

function loadLanguage(lang) {
  base_pathname = window.location.pathname.replace(/^\/[a-z]+([_-][a-z]+)?\//, "/")
  if (lang === "en") {
    url = base_pathname
  } else {
    url = "/" + lang + base_pathname

[2019-02-04 18:21] TheOptimisticCoder opened #836 "helping the very beginners to open source"
<a href="https://opensource.guide">Open Source Guide</a> helps beginners to contribute to open source. It makes us understand the workflow. But is it really helping the very beginners ? By very beginner I want to say someone who is very new to technology and want to contribute the real code because these very beginners get a little bit frustrated if they are not able to contribute some code.
If th

[2019-02-06 12:16] MahaTareyuga commented on #836
my roommate played the balloon game where she/they just bumped balloons
around all day.. [] o \ | its just boxes :) music. And a twitch stream from
someone named shibbaya when you sorta forget your mantra |> g2g my gf wants
me to lie for bit... | "          "

On Mon, Feb 4, 2019 at 1:21 PM Anand Shankar <notifications@github.com>
wrote:

[2019-02-06 13:30] TheOptimisticCoder commented on #836
@MahaTareyuga what do you wanna say ?

[2019-02-13 09:00] MikeMcQuaid commented on #836
Thanks for the issue @TheOptimisticCoder but we're not catering for the absolute very beginners you describe here.

[2019-02-13 09:00] #836 closed

[2019-02-13 09:06] MikeMcQuaid commented on #828
@codinggirl Would you be able to submit a pull request to fix this?

[2019-02-13 09:53] #822 closed

[2019-02-13 12:52] shw26y opened #847 "turxy"

[2019-02-16 13:39] Dferdi1199 opened #849 "http://github.com/tumblr/policy/commits/master/community-guidelines.txt"
Open source text

[2019-02-17 21:55] sumon30427 commented on #849
I'm md Shahidul islam, as a software Creator with proprietor of the networking home. Which created at first digital note's book, note'spad at "2013" as demo for circular including attachment in it's Gmail i.d <sumon304@gmail.com> organization globally in the worldwide. My demo comparing another's but, my demo was first class with as a great successful workings jobs, that's the time i'm have been n

[2019-02-21 03:51] daco3 opened #851 "Unic"

[2019-02-23 06:39] alialooooosh055455 opened #853 "Ali"

[2019-02-23 10:46] IPHONE055 commented on #851
الا

[2019-02-23 20:25] #853 closed

[2019-02-26 19:45] #851 closed

[2019-02-26 19:47] #847 closed

[2019-02-26 19:48] talsafran commented on #849
Reported the above as off topic. Closing.

[2019-02-26 19:48] #849 closed

[2019-03-01 11:06] alialooooosh055455 commented on #853
Ok

[2019-03-03 06:43] alialooooosh055455 opened #857 "1.577287066246057"

[2019-03-05 18:47] ahtee commented on #857
please close if no content

[2019-03-07 03:54] kamareb opened #864 "opensourceguide"

[2019-03-07 03:55] kamareb commented on #864
#864

[2019-03-07 03:55] #864 closed

[2019-03-10 13:26] Nauwriez commented on #857
https://github.com/github/opensource.guide/issues/857#issuecomment-469810564

[2019-03-13 07:24] bbnola1 opened #871 "Bbnola"
57:28.894 RAC/D _API_RAC_Open:214] Start(Version=20151123_1300)
[06:57:28.894 RAC/D _API_RAC_Open:218] Reliable Simple Message : TRUE
[06:57:28.895 RAC/I RAC_LoadConfigInfo:445] Set ConfigInfo to default
[06:57:28.895 RAC/D _API_RAC_Open:310] End(racHandle=0xa37727c0)
[06:57:28.897 RAC/D API_RAC_LoginDevice:390] Start
[06:57:28.897 RAC/I RAC_SetCtrlIfreqInfo:526] Start
[06:57:28.897 RAC/D _RAC_Get

[2019-03-22 17:55] Joannis opened #883 "Leadership and Governance > Table of Contents"
The table of contents doesn't fold out at all. See the attached images:

<img width="253" alt="Screenshot 2019-03-22 at 18 55 27" src="https://user-images.githubusercontent.com/1951674/54843174-12945700-4cd4-11e9-86a5-4598552a6ae7.png">

<img width="272" alt="Screenshot 2019-03-22 at 18 56 20" src="https://user-images.githubusercontent.com/1951674/54843228-3061bc00-4cd4-11e9-8a29-dff43504334c.png"

[2019-03-25 01:40] gmarcus386 commented on #828
/assets/js/locale.js

[2019-03-26 17:11] #871 closed

[2019-03-29 09:39] mandylatsonMRGL opened #892 "🌐MRGL & Dab Software Technologies™"
Microsoft Intelligence department of development and design using cern root large data compacity branching from computer hardware Castor framework computer technology.

[2019-03-29 09:39] mandylatsonMRGL commented on #892
bitcoin:?r=https://bitpay.com/i/2Fh7AFb7ukT4hUMcKvXKD2

[2019-03-30 03:39] bamarsaw3208 commented on #871
https://us.rac.lgeapi.com/v1.0/rac/ps/allocation.json?srvcCode=SVC407&idType=UUID&dvcTypeCode=401&id=5e62c6ce0a606203a9b28b5f0815f0c4&clsCheckYN=Y&mbrNum=US1811273464419&checkDeviceOnly=Y

[2019-03-30 10:27] elzatch4219 opened #894 "Is this translated in hindi also"

[2019-03-30 15:11] co16353sidak opened #896 "bug: Top Navbar right borders"
URL: https://opensource.guide

1. the top navbar seems very inconsistent with the overall theme of the whole webpage. in the screenshots, I feel that the link borders span completely from the top to bottom whereas everywhere else there is an offset present. I feel that an offset could be present.
<img width="1274" alt="Screenshot 2019-03-30 at 8 18 11 PM" src="https://user-images.githubusercontent

[2019-03-30 16:30] guanwenlng commented on #836
{"error":{"code":"9301","message":"어플리케이션 인증에 실패하였습니다. :: requestedAppKey is null and ApiType is 01","request":"/v1.0/rac/ps/allocation.json","service":"system"}}

[2019-04-01 08:21] MikeMcQuaid commented on #896
Will review a PR for this, thanks!

[2019-04-01 08:21] #896 closed

[2019-04-01 08:21] #894 closed

[2019-04-01 09:27] co16353sidak commented on #896
@MikeMcQuaid, to be clear, should I send a PR with the proposed changes ?

[2019-04-01 12:06] leventov opened #898 "mention-bot is now archived"
The guide mentions https://github.com/facebookarchive/mention-bot which is now an archived project.

[2019-04-01 12:33] MikeMcQuaid commented on #896
@co16353sidak Yes, please. I'm afraid I cannot guarantee it'll be merged but it's easier to discuss a PR than an issue with this sort of thing. Thanks ❤️

[2019-04-02 05:51] co16353sidak opened #899 "Could not find jekyll-watch from rubygems.org"
While working on a PR related to styling changes, I have been trying to set up the project using `script/bootstrap` but unfortunately it prompts that.
`Could not find jekyll-watch-2.2.0 in any of the sources`
this happens when it tries to fetch metadata from `rubygems.org` website regarding all the packages.

<img width="682" alt="Screenshot 2019-04-02 at 11 19 15 AM" src="https://user-images.gith

[2019-04-03 00:09] coreyandersonbuilders commented on #828
Agent I’m coming

[2019-04-03 08:10] MikeMcQuaid commented on #899
Sorry, we can't provide additional help to individuals here.

[2019-04-03 08:14] MikeMcQuaid commented on #899
Actually reopening as this is also affecting https://github.com/github/opensource.guide/pull/885

[2019-04-03 08:14] #899 closed

[2019-04-04 04:58] koyemanaung opened #902 "my account"
Support secure and fix for issue in the feature.

[2019-04-04 05:00] koyemanaung opened #903 "yemanaung2891991@gmail.com"
support secure and fix issues for account in feature.

[2019-04-04 06:32] coreyandersonbuilders commented on #903
So glad it is over such a battle in yeshuas name

[2019-04-06 16:08] co16353sidak opened #905 "Dependency issues with primer-core index.scss"
While working on a PR, I was compiling and running the server commands to setup a local environment for the website. but in doings it gave me a few dependency errors, listed as followed in the screenshot
<img width="571" alt="Screenshot 2019-04-06 at 9 36 29 PM" src="https://user-images.githubusercontent.com/35738138/55672047-0b647000-58b4-11e9-9767-180c86af557e.png">

there is a need to shift the

[2019-04-06 16:13] co16353sidak opened #906 "404 error reported on inter-UI fonts."
On loading the website both locally and through the link,both the console and the terminal reports a 404 error on a couple of fonts.
the exact errors are listed on the screenshots below.

terminal:
<img width="589" alt="Screenshot 2019-04-06 at 9 42 29 PM" src="https://user-images.githubusercontent.com/35738138/55672121-e15f7d80-58b4-11e9-8922-1a3c52b46485.png">

browser console:
<img width="492"

[2019-04-07 03:08] Bramdimalone226 commented on #903
Hello

[2019-04-08 04:33] koyemanaung commented on #903
support

[2019-04-12 19:21] DrBeta commented on #898
I did not find that link anywhere in the project.

[2019-04-12 22:34] DrBeta commented on #898
@bruce If you can, can you close this

[2019-04-13 17:54] leventov commented on #898
Here: https://opensource.guide/best-practices/

[2019-04-13 18:01] DrBeta commented on #898
Now I see it.

[2019-04-13 18:10] DrBeta commented on #898
#908 Should fix this if it gets merged

[2019-04-16 03:04] 19920607 opened #910 "click is valid"
hello,there is two questions that I cannot solve for many days.I add a button on the node.when the node on the top of the screen,the click is effective,however,when I move the phone until the node on the buttom of the screen,the click invalid.I donot know why.second,I push the VC to another,but when I back to the VC,all click is Valid.could you give me an answer-

[2019-04-16 10:10] younglb69 opened #911 "aide pour comment changer mon moteur de recherche"
I can not use github as I want because I am already attacking by someone who works with git hub, all my mobile device are attacking by several server. I have a lot of research to insert. my driver's fraudulent. I am listening, I have goohle LLC integrate and Apple LLC, my certificate have completely changed and my version of the operating system is 17,763,379 and the serial number of my iPhone (ap

[2019-04-16 17:39] Calvin2411 commented on #910
good

[2019-04-17 03:01] ferdian26 opened #912 "Security"

[2019-04-20 05:50] ValerieZoski commented on #828
Everest Wilhemsen Ammendment Final Warning

[2019-04-24 11:28] #912 closed

[2019-04-24 11:28] #911 closed

[2019-04-24 11:29] #910 closed

[2019-04-26 08:30] matawinb commented on #906
#929

[2019-05-06 22:32] Yokymia32 commented on #906
Good

[2019-05-08 18:01] talsafran commented on #898
👋

This was addressed in https://github.com/github/opensource.guide/pull/908, and the choice was to leave the mention of `mention-bot` since that could still be useful to readers, in lieu of other alternatives. Thanks for the report @leventov I think we'll close this out for now 🙌

[2019-05-08 18:01] #898 closed

[2019-05-08 18:18] talsafran commented on #905
@co16353sidak thanks for reporting this! Looks like this deprecation warning is known (see: https://github.com/primer/css/issues/741) and will appear even on the latest version of Primer until there is an alternative shipped for future deprecation warnings, like https://github.com/primer/css/issues/740.

Appreciate you flagging this! You rock 🙌

[2019-05-08 18:18] #905 closed

[2019-05-09 00:09] #906 closed

[2019-05-09 18:52] talsafran commented on #906
@co16353sidak thanks for reporting this! Yesterday I shipped a fix for these errors in #943, really appreciate you being thoughtful in your report! ✨

[2019-05-25 01:38] grostyle1515 opened #965 "GroStyle"

[2019-05-25 01:38] grostyle1515 opened #966 "GroStyle"

[2019-05-25 01:38] grostyle1515 opened #967 "GroStyle"

[2019-05-25 01:40] #967 closed

[2019-05-25 01:45] pinjaman77 opened #969 "FACEBOOK"

[2019-05-25 01:49] #969 closed

[2019-05-27 03:17] bartlomiejbrzozko commented on #966
4AEE18F83AFDEB23

[2019-05-29 17:39] 0001zA2 opened #979 ".c"

[2019-05-31 22:02] jhutchings1 opened #981 "Security.MD as a community best practice"
One thing that seems to be missing from the open source guide at the moment is any information about how to handle security disclosures. We (GitHub) just released a feature called the [security policy](https://help.github.com/en/articles/adding-a-security-policy-to-your-repository), which uses a file called `security.md` to allow maintainers to tell users how to handle disclosure.

It's easy enoug

[2019-06-01 10:19] EdOverflow commented on #981
For the actual content of a security policy, maybe it would be worth looking at what the resources linked to above suggest and cherry picking what works best for the open-source community.

When you register for a new program on HackerOne, the default/template policy consists of the following sections:

- Disclosure Policy
- Exclusions
- Safe Harbor

[HackerOne's policy builder](https://hackerone.

[2019-06-02 09:49] Joannis commented on #883
The issue was not solved.

[2019-06-03 19:17] F-Jennings commented on #981
I<sup>*</sup> quite like the idea of allowing projects to include safe-harbor verbiage, even if there's no way to be sure projects fully understand & adhere to their generated safe-harbor policies. Neither is ideal, but (if the safe-harbor template verbiage is good) "policy exists but project didn't adhere to it" is still legally easier to deal with than "project has no written policy at all."

Th

[2019-06-03 23:17] jhutchings1 commented on #981
Thanks everyone! I went ahead and made a first draft of this documentation based on the discussion above. Feel free to comment/contribute there! #985

[2019-06-05 02:15] CrazyBtchPhyscoMom33 commented on #979
How's it

[2019-06-20 07:50] MikeMcQuaid commented on #883
Fixed by https://github.com/github/opensource.guide/pull/939

[2019-06-20 07:50] #883 closed

[2019-06-20 07:50] #979 closed

[2019-06-23 08:37] BaseMax opened #995 "Add persian language"
Hey @Github,

I'm Max, As a github [maintainers ](https://github.com/maintainers/)member.

We are begin to translate and write the text...
**Target:** Persian, Farsi (فارسی)

I will send some new pull requests... (https://github.com/MaxFork/opensource.guide/tree/fa)
No any problem and limitation for this language? @MikeMcQuaid

Regards,
Max

[2019-06-24 07:55] MikeMcQuaid commented on #995
All good, thanks! Look forward to your PR!

[2019-06-24 07:55] #995 closed

[2019-06-25 07:18] loverdeveloper commented on #995
i want to be a part of this.

[2019-06-25 07:37] BaseMax commented on #995
Hey Mohmmad Najafian @loverdeveloper,

Wait until the first version of this done,
Next you can improve or change it.

Regards,
Max

[2019-06-26 15:43] jyangchisyan opened #998 "The website title display wrong information on the language page"
I found a little bug on the website title. When I switch other languages page, the website title will change and appear the wrong information.

__Expect (correct on English page)__:
<img width="813" alt="螢幕快照 2019-06-26 下午10 53 54" src="https://user-images.githubusercontent.com/4977932/60194098-4bac0c80-986b-11e9-9058-9bb5c2d385f8.png">

__Wrong Title__:
<img width="846" alt="螢幕快照 2019-06-26 下午10

[2019-06-29 05:34] siguientepaso commented on #250
No logro ordenar las carpetas y la primera que busco es la de la memoria y nada!!

[2019-07-05 16:28] mlinksva commented on #998
You're right, thanks for noticing and filing an issue. Want to make a PR with your suggested fix?

[2019-07-06 09:27] sergey27011995 opened #1010 "Githup"
Open

[2019-07-06 17:05] #1010 closed

[2019-07-06 19:00] rodriguez7612 commented on #1010
[at_radarMar_2019.txt](https://github.com/github/opensource.guide/files/3364947/at_radarMar_2019.txt)

[2019-07-06 19:01] rodriguez7612 commented on #1010
Why can’t I view its text

[2019-07-07 16:21] jyangchisyan commented on #998
#1011  Hi @mlinksva, I pushed it and I hope other contributors could assist confirm the translation is correct in several languages.

[2019-07-08 14:55] jyangchisyan commented on #981
Do you intend to add tasks list fill up other languages translator list or generate another issue to contribute to this new page?

[2019-07-12 14:56] #998 closed

[2019-07-16 16:18] JovanRami opened #1025 ".gitignore"

[2019-07-16 16:18] #1025 closed

[2019-07-17 17:34] patoi opened #1030 "getting-paid.md has HTTP 404 Not Found link"
"@mamiM did Japanese translations for @MetaMask after the issue was funded on Bounties Network." reference to https://beta.bounties.network/bounty/v1/134 which is missing.

[2019-07-21 17:34] LalitoConstantino commented on #1030
gem "github-linguist", "~> 7.5.1"

[2019-07-22 14:47] ANWANIDO commented on #1025
[https://www.youtube.com/channel/UC2buFa6FCXp7bEPmYfXRyrw](url)

[2019-07-30 22:12] maria1118 commented on #1030
Same issue..been working for almost a year no payments

[2019-08-04 20:11] mlinksva commented on #828
This was fixed by #1033 thanks @suga0828 for the fix and @codinggirl for reporting.

[2019-08-04 20:11] #828 closed

[2019-08-04 20:56] #1030 closed

[2019-08-07 15:17] Joewira opened #1042 "hack"

[2019-08-07 16:04] #1042 closed

[2019-08-09 20:07] tiferet opened #1052 "Add info about Good First Issues on GitHub"
Good First Issues is a new feature that recently shipped on GitHub. It helps people contribute to open source by recommending beginner-friendly issues that fit their interests.

These recommendations are surfaced on [Topics pages](https://github.com/topics/javascript), on [/discover](https://github.com/discover) (and soon also on [/explore](https://github.com/explore) and [/trending](https://githu

[2019-08-11 20:27] Lenny33 opened #1055 "Lenny"
#458 92 #1049

[2019-08-13 07:57] AAMetatron commented on #1052
its all good its bad but don't worry its good

[2019-08-13 08:51] atodorov opened #1058 "RFC: Expand the funding section with a list of organizations/foundations"
As it is the funding section is a good start but I've been thinking about a detailed list of resources with a short info for them.

For example Mozilla Foundation is likely to only sponsor projects which are related to what they do or somehow used by Mozilla infrastructure.

The section doesn't even mention Google Summer of Code.

Will you accept a detailed list (to be expanded in time) of possibl

[2019-08-13 23:49] mlinksva commented on #1058
I think list proposals have been discussed before several times (first a quick search turns up is https://github.com/github/opensource.guide/issues/278#issuecomment-280356198) and the thought was that guides aren't a great place for them. I guess section you're referring to is https://github.com/github/opensource.guide/blob/b37d0de7cc8794666f03b45c353f668d1ba1a424/_articles/getting-paid.md#apply-f

[2019-08-15 02:51] serliyasimarahmania commented on #1058
Http://www.blockchain@example.com

[2019-08-21 14:11] aliceap opened #1071 "> I am just worried that if we do not explain what "Safe Harbors" are, we might end up with projects quickly generating policies with safe-harbor verbiage without them adhering to it."
I<sup>*</sup> quite like the idea of allowing projects to include safe-harbor verbiage, even if there's no way to be sure projects fully understand & adhere to their generated safe-harbor policies. Neither is ideal, but (if the safe-harbor template verbiage is good) "policy exists but project didn't adhere to it" is still legally easier to deal with than "project has no written policy at all."

Th

[2019-08-21 14:36] aliceap commented on #1052
Duplicate of #

[2019-08-21 16:20] #1071 closed

[2019-08-22 05:30] aliceap opened #1074 "> Thanks everyone! I went ahead and made a first draft of this documentation based on the discussion above. Feel free to comment/contribute there! #985"
Do you intend to add tasks list fill up other languages translator list or generate another issue to contribute to this new page?

_Originally posted by @jyangchisyan in https://github.com/github/opensource.guide/issues/981#issuecomment-509260241_

[2019-08-22 14:45] #1074 closed

[2019-08-31 19:57] davidak opened #1084 "Add practical example how to copy code parts in legal guide"
https://opensource.guide/legal/

It is not clear to me **how** i should practically note the copyright of a code part (for example 5 lines from a MIT project). Is it legally OK to just note the source, author and license in the commit message description or should it be in the header of the file or in the LICENSE file of the project?

When i copy whole files, the license header should not be remov

[2019-08-31 22:13] mlinksva commented on #1084
The guide doesn't directly address using code under third party OSS licenses. It would probably need a new section to get close to the level of detail that you're asking for. It's a reasonable idea. I'm not sure how soon I'll get to it, but please add comments with further resources that might be useful like the related link above.

[2019-09-04 13:18] Rayad2361424 commented on #1084
https://github.com/github/opensource.guide/issues/1084

[2019-09-04 16:18] Rayad2361424 commented on #1084
https://www.patrick-wied.at/blog/how-to-correctly-use-code-you-didnt-write

[2019-09-04 16:20] Rayad2361424 commented on #1084
https://www.patrick-wied.at/blog/how-to-correctly-use-code-you-didnt-write

[2019-09-04 19:11] davidak commented on #1084
@Rayad2361424 what are you trying to do there? Please don't spam everyone subscribed to this issue.

[2019-09-06 18:20] jhutchings1 commented on #981
Not quite done yet stalebot. Will get back to this soon!

[2019-09-08 09:49] ROK080 opened #1098 "JavaScript"

[2019-09-08 17:33] #1098 closed

[2019-09-10 17:35] forhad2001 commented on #1052
[theme-check-master (1).zip](https://github.com/github/opensource.guide/files/3596997/theme-check-master.1.zip)

[2019-09-11 14:55] bbbb1234 opened #1102 "server"
ok

[2019-09-11 14:56] bbbb1234 commented on #1102
ok

[2019-09-11 14:56] bbbb1234 commented on #1102
pk

[2019-09-11 14:56] #1102 closed

[2019-09-11 14:56] bbbb1234 commented on #1102
thk

[2019-09-11 14:57] bbbb1234 commented on #1102
ddddddddoklllllllllllllllll

[2019-09-19 13:06] patoi opened #1108 "Travis CI test error on Links"
I found a CI test error on my #1020 branch. This is Hungarian translation, but the error comes from _site/fr directory. This looks like a test _code_ error, because all other languages use the same URLs and there is 'no issues found'.

Travis CI event: https://travis-ci.org/github/opensource.guide/builds/586989750

[code]

[2019-09-19 18:01] mlinksva commented on #1108
html-proofer in my experience reports only one instance of a link failure, even if the link exists multiple times in a set of pages it is testing. Expected behavior.

However, there are a couple currently broken links that should be fixed across all translations. I'll try to do that soon, but if anyone else wishes to beat me to it, please do!

[2019-09-20 09:53] patoi commented on #1108
There are two types of errors.

**building-community.md:** @karissa GitHub account has been deleted. In `— @karissa, ["How to Run a FOSS Project"](https://okdistribute.xyz/post/okf-de)` line, the `@karissa` resolved to `https://github.com/karissa` which is response with 404.

**getting-paid.md:** on this page the content of the URL ref. has been deleted permanently. I've not found any other ref. t

[2019-09-20 18:45] mlinksva commented on #1108
Thanks! See fixes to be applied to translations in master in #1109.

[2019-09-20 18:56] #1108 closed

[2019-09-20 19:33] mlinksva commented on #1108
(I acknowledge that ideally these fixes would be applied non-manually to the many WIP translation branches...if anyone wishes to point out a script to apply search/replace, commit, push across a set of branches, would be happy to use it!)

[2019-09-26 14:53] #1052 closed

[2019-09-27 17:50] katrinleinweber opened #1119 "Process for keeping translations up to date"
How about we collect some advice in [docs/translations.md](https://github.com/github/opensource.guide/blob/7b5aebc02a71b1f9f62873757a0643c0668612bd/docs/translations.md) under `Keeping translations up to date` or similar?

Working on #1118 I naively scrolled through the [commit list](https://github.com/github/opensource.guide/commits/master) and looked at merge commits that seemed to add content.

[2019-09-28 19:08] mlinksva opened #1120 "Process for translating a new article"
Copying from https://github.com/github/opensource.guide/pull/985#issuecomment-524490596

Think I prefer the stubs route: no test change needed, visible to people looking through `_articles/{lang}` who might be interested in translating.

[2019-09-28 20:13] mlinksva commented on #1058
Closing, see comments in #1111 and #1121. Thanks!

[2019-09-28 20:13] #1058 closed

[2019-09-30 08:09] MikeMcQuaid commented on #1120
I think the higher-level goal is "no new articles". I don't think we're at a place to really be able to accept them and give them a decent level of review. I also think the original set of articles stand alone nicely. Perhaps that should be documented explicitly somewhere?

[2019-09-30 08:09] MikeMcQuaid commented on #1119
This seems like a good idea. Could you submit a PR with your recommended workflow?

[2019-09-30 08:56] mlinksva commented on #1120
I think the new article being worked on in #985 would be a worthy addition, and we have someone working on it. Happy to be wrong about even that one though. In any case, 👍 to documenting at least an extremely high bar for any new articles.

[2019-09-30 18:16] katrinleinweber commented on #1119
The snake seems to be eating its tail: [#1121/files#diff](https://github.com/github/opensource.guide/pull/1121/files#diff-31669052b00291ed5f9e4cd6db9fdd6bR31-R33) ;-)

I'll revisit this in a few days once there is a difference between my `translation_branch`& `upstream/master` to check whether the above initial idea is viable.

[2019-10-06 17:12] jdabs opened #1129 "Needs to highlight open source cryptocurrency project funding"
I didn't see any mention of open source projects that tackle  funding in unique ways. Most examples shown rely on large private companies as resources or public fund raising through gofundme, etc.

Bitcoin (BTC), Monero coin (XMR), and many others in the cryptocurrency industry are on the cutting edge of experimenting with new funding solutions. Bitcoin has a "bounty" tags highlighting bugs that o

[2019-10-06 23:05] mlinksva commented on #1129
This project is more oriented toward highlighting existing best practices than new ideas. Currency, crypto or otherwise, seems orthogonal.

[2019-10-06 23:05] #1129 closed

[2019-10-07 00:46] jdabs commented on #1129
That's the thing...there are no existing best practices. Funding open-source work is still experimental. Using two dollar words like "orthogonal" does not make ideas outside of this site's limited scope "wrong" in any sense. You make it sound like having private companies contribute (see facebook's licensing uproar with React) and community donation fun-raisers (which have sporadic participation)

[2019-10-08 20:36] umutphp opened #1133 "A Tool Proposal For Translation Process Management"
I have contributed translation processes of some projects on Github. After finishing some of them manually, I'm convinced that using a tool to translate is more accurate than doing it manually. I have translated this document to [Turkish](https://github.com/github/opensource.guide/pull/1112) by using [GitLocalize](https://gitlocalize.com/).

![gitlocalize](https://user-images.githubusercontent.com

[2019-10-09 10:37] umutphp commented on #1133
Yes, I have used GitLocalize in some of the translation projects that I involved in. I also used it for the Turkish translation of this repo.

Can you please create an account on GitLocalize? So, I can add you to the team of one of my forks.

[2019-10-09 11:13] MikeMcQuaid commented on #1133
@umutphp Done! If you could add me to your opensource.guide fork that'd be great.

[2019-10-09 11:42] umutphp commented on #1133
@MikeMcQuaid added you as admin to my fork.

[2019-10-14 12:51] Rada75 opened #1138 "translation in Romanian and German from Englisch"

[2019-10-14 14:25] #1138 closed

[2019-10-15 09:38] ohthehugemanatee opened #1141 "Suggestion: How to host a code sprint event"
There's a great guide to this at https://github.com/drud/sprint_guide/blob/master/brilliant-sprints.md ... seems like it would fit in nicely here with other advice for maintainers.

Assuming it's interesting to the maintainers, what's the right way to bring this content in? It's under the Creative Commons Attribution 4.0 International Public License, so technically we could just copypasta with an

[2019-10-15 09:50] MikeMcQuaid commented on #1141
Thanks for the suggestions but we're not considering new guides at this time.

[2019-10-15 09:50] #1141 closed

[2019-10-18 19:25] Nguyentiensy99 opened #1146 "Nguyentiensy"

[2019-10-21 08:27] umutphp commented on #1133
@MikeMcQuaid
Just circling back on the translation of the guide :).

Can you please provide me an update about your comments about the tool? Did you have time to check? Do you think it can be used for managing the translation flow of this guide?

[2019-10-21 08:37] sschevy74 commented on #1133
I have an account on github. 

Sent from Yahoo Mail on Android

  On Wed, Oct 9, 2019 at 5:37 AM, Umut Işık<notifications@github.com> wrote:
Yes, I have used GitLocalize in some of the translation projects that I involved in. I also used it for the Turkish translation of this repo.

Can you please create an account on GitLocalize? So, I can add you to the team of one of my forks.

—
You are receiv

[2019-10-21 09:03] MikeMcQuaid commented on #1133
@umutphp I haven't had time to check yet, sorry. This repository is not part of my job at GitHub so I've got stuff here bookmarked to review when I next have some free time (and am working hard on a GitHub Universe ship at the moment). Apologies again!

[2019-10-21 09:25] sschevy74 commented on #1133
No 

Sent from Yahoo Mail on Android

  On Mon, Oct 21, 2019 at 3:28 AM, Umut Işık<notifications@github.com> wrote:
@MikeMcQuaid
Just circling back on the translation of the guide :).

Can you please provide me an update about your comments about the tool? Did you have time to check? Do you think it can be used for managing the translation flow of this guide?

—
You are receiving this because you

[2019-10-23 05:04] MrNoddyInfy opened #1154 ""Layout Default" box is seen at the top of CONTRIBUTING.md document & Table of contents start from 0th index"
"Layout Default" box is seen at the top of CONTRIBUTING.md document & Table of contents start from 0th index. Screenshot attached for reference.

![Screenshot (90)](https://user-images.githubusercontent.com/53807772/67359351-a9820400-f580-11e9-946a-6c05035f8bb7.png)

[2019-10-23 05:10] MrNoddyInfy commented on #1154
I can fix this if it's issue.

[2019-10-23 08:44] MikeMcQuaid commented on #1154
This is not an issue.

[2019-10-23 08:44] #1154 closed

[2019-10-27 15:39] zwmbie opened #1157 "Contributing"
script/bootstrap
script/server

[2019-10-28 09:45] #1157 closed

[2019-10-31 06:38] sabesansathananthan opened #1161 "commit conventions"
when we want to commit follow commit conventions for the best practice.
`$git commit -m "type: subject"`
type should be one of the following
[build, chore, ci, docs, feat, fix, perf, refactor, revert, style, test].
In npm project, we can add a dependency called commitlint but other projects couldn't add that feature.

[2019-10-31 08:56] #1161 closed

[2019-11-09 17:09] ac2epsilon opened #1175 "translations.md looks like needs lil improvement"
Look, bullet 5 from  ..Copy `index.html`.. in the end says ..Remove the `toc:`.. However index has no any toc:s, while articles mentioned in bullet 4 do. So sentence ..Remove the `toc:`.. logically belongs rather to sooner bullet 4. I guess so, if you don;t mean something else

[2019-11-09 20:09] mlinksva commented on #1175
I think you're right. Want to submit a PR to fix it?

[2019-11-13 15:48] langi93 opened #1182 "vnvc"
[kiko-master.zip](https://github.com/github/opensource.guide/files/3842062/kiko-master.zip)

[2019-11-13 16:26] #1182 closed

[2019-11-19 16:22] surfmuggle commented on #337
At least our legal department (Germany) would prefer (or requires us) to provide a copyright information. In [341](https://github.com/github/opensource.guide/issues/341) is a link to [List of parties to international copyright agreements](https://en.wikipedia.org/wiki/List_of_parties_to_international_copyright_agreements) and [TRIPS - Agreement on Trade-Related Aspects of Intellectual Property Rig

[2019-11-20 21:06] adriancf-br opened #1204 "Portuguese title (typo) presentation problem"
This guide, when translated to portuguese presents one typo at the title.

Link to page:
https://opensource.guide/pt/how-to-contribute/

As I see in my Chrome navigator. "Como Cont ibuir para o Open Source."
As it should be "Como Contribuir para o Open Source."

In fact, the "r" letter is there but is not presentet.

[2019-11-20 21:28] mlinksva commented on #1204
It looks right to me, in multiple browsers. I can't imagine what would be producing the behavior you see @adriancf-br -- maybe include a screenshot?

[2019-11-21 14:50] adriancf-br commented on #1204
Yes, I can see it in IE browser but at Chrome, it looks like this scrrenshot.
Thanks @mlinksva  for your attetion.

![typoBR_pt](https://user-images.githubusercontent.com/26074280/69348552-21f9e480-0c55-11ea-8c41-0f4e4520267d.jpg)

[2019-11-21 19:29] mlinksva commented on #1204
Hmm, I have no idea what could be causing that, but I'm not a designer, know only the bare minimum about styles and fonts. 😬

Could you say what exact version of Chrome you're using? Is the 'r' missing if you zoom in/out?

I'll leave this open for now in case there might be some evidence that this is a problem affecting more users, and one that someone who knows things I don't might have an idea a

[2019-11-21 19:33] adriancf-br commented on #1204
Google Chrome Versão 78.0.3904.97 (Versão oficial) 64 bits.

Zoom in and out realy show and hide the letter.

[2019-11-22 09:51] ralphg6 commented on #1204
Do you use windows?
What resolution is set?
Have you been able to reproduce on another computer?

[2019-11-22 13:27] adriancf-br commented on #1204
Yes, Windows 7, screen resolution 1360x768. In other computer, it works fine.

[2019-11-23 12:34] ahangarha opened #1206 "FLOSS or OSS?"
Hi

First of all, thanks for the content you share.

I noticed all over the content, you talked Open Source. Regarding the old discussion around Free Software or Open Source I wanted to know what is the reason that there is no use of "Free Software", "Free and Open Source", "Free/Libre and Open Source", FOSS or FLOSS?

My stand is the in 99 percent of the cases, OSS is a Free Software as well. So,

[2019-11-23 21:04] mlinksva commented on #1206
I don't recall/can't find the details but before these guides were launched it was discussed which term to use and decided to use "open source" throughout. It seems reasonable to me to mention the different terms in the `What does "open source" mean?` section, which I've done in #1207.

Thanks for pointing out the omission.

[2019-11-25 07:26] ahangarha commented on #1206
I don't think this would fix the issue. If you are worried about people perceive Free Software as a freemium one, that can be handled in some way. But Open Source misses some critical point of Free Software which is Freedom of the user. Though as I mentioned above in 99 percent of the cases, a given software is at the same time Free Software and Open Source Software, but by just calling it Open So

[2019-11-25 17:09] mlinksva commented on #1206
OK, closing as won't fix then. We're not going to rename the project nor change every instance of "open source" in the guides. You are very free to publish a version with such edits, indeed I would enjoy seeing that.

And thanks again, even if my takeaway was not your intended point.

[2019-11-25 17:09] #1206 closed

[2019-11-26 07:05] ahangarha commented on #1206
Just may I know the reason? I hope not because talking about software freedom is forbidden.

[2019-11-27 14:50] ralphg6 commented on #1204
@adriancf-br unfortunately I could not reproduce this error for debugging. And I have no idea what could be causing that.

[2019-11-27 16:06] ilyaspiridonov commented on #1133
@MikeMcQuaid
@umutphp
Hi Mike and Umut, I'm from GitLocalize team, so if you ever need assistance with setting up a project or have any questions feel free to reach out to me directly at ilya@gitlocalize.com

[2019-11-27 20:26] adriancf-br commented on #1204
@ralphg6,
I could not list plugins in Chrome navigator but I tested in the same machine for IE, Firefox, Tor and Chromium and this error is not reproduced only in MS IE browser. So, I suppose,  it s not a matter of navigator. May be a problem related to my Windows version. I wil try to update my so and report here later.

[2019-11-28 05:16] iennae commented on #1206
@ahangarha it sounds like you want a much broader change to the guides than the fix that @mlinksva proposed with PR #1207 and would change the scope of the project as it is. Just replacing open source with FLOSS would be a disservice to everyone looking for those specific nuances. I'm not a maintainer to the project so I'm not speaking for them in this comment. As mentioned above, it's possible fo

[2019-11-28 05:26] iennae commented on #1204
@adriancf-br it might also be something to do with your version of Chrome.

I checked on Version 78.0.3904.108 (Official Build) (64-bit) and couldn't replicate, and there isn't special syntax on that title. Maybe try updating your Chrome as well. I did see this issue https://support.google.com/chrome/thread/2308245?msgid=6053985 that folks were reporting from earlier in the year.

[2019-11-28 18:09] ahangarha commented on #1206
I couldn't see any harm to the project by replacing Open Source with FLOSS. The emphasis on using Open Source instead on anything that refers freedom is not good. Yet, I respect your decision.

Of course I know I can fork the project, but this was not my goal. I hoped to have a constructive conversation to improve this project. I thought we might share same value which appeared to be false.

Anywa

[2019-11-28 22:15] adriancf-br commented on #1204
@iennae I reproduced this error on different browsers, so I believe it is not related to that bug. Firefox, for example, present the same error.

[2019-12-02 12:58] MikeMcQuaid commented on #1133
@ilyaspiridonov Will do, still planning on getting to this at some point 🤞

[2019-12-02 18:00] mlinksva commented on #1175
This was fixed by #1185

[2019-12-02 18:00] #1175 closed

[2019-12-06 00:55] #981 closed

[2019-12-09 09:14] syaifudin85 commented on #1119
join

[2019-12-15 14:23] katrinleinweber commented on #1119
This is a tough nut. I tried the following today:

1. Copy ID of last own commit in [_articles/de](https://github.com/github/opensource.guide/commits/master/_articles/de).
1. `git switch master && git pull upstream/master`
1. `git diff --word-diff $LAST_OWN upstream/master _articles/*.md > TODO-translate.txt`
1. `git switch $translation_branch`
1. `git rebase master`
1. Go through `TODO-translate.

[2019-12-15 14:43] webknjaz commented on #1119
@katrinleinweber FWIW this is something I suggested a while back: https://github.com/github/opensource.guide/issues/288#issuecomment-283927635. It'd be nice to have it fully scripted so that it'd be easier to automatically check it...

[2019-12-15 14:52] katrinleinweber commented on #1119
Yeah, that might be a more convenient source getting an ID for `3.`, but it would require each translation session to cover all of the English updates, wouldn't it?

Because those can occur in parallel to minor translation updates (correcting links, wording, or spelling), there is a risk of overlooking significant English updates that occured before such a minor update's SHA is recorded in the tra

[2019-12-16 09:28] #1120 closed

[2019-12-17 09:46] popcorner commented on #1119
What about considering using some professional translate tools instead of using Git directly?
Git is powerful but not the best tool for translating articles. Contributors have to use additional steps to check the difference, and it seems hard to automatically merge new contents into translation. And, The smallest unit of Git comparison is the lines, not sentences. These problems mean additional ma

[2019-12-17 12:51] MikeMcQuaid commented on #1119
This is being discussed in https://github.com/github/opensource.guide/issues/1133 and is on my list to investigate further (hopefully over Christmas).

[2019-12-17 18:39] popcorner opened #1238 "The language code of Chinese should be changed"
This project is using zh-cn to represent simplified Chinese, and zh-tw to represent traditional Chinese. But this is not the best practice.
Actually, zh-cn means Chinese (mainland China), and zh-tw means Chinese (taiwan), but there are also many people using simplified and traditional Chinese in some places like Singapore and Hong Kong.

The real language code of simplified Chinese is **zh-hans**,

[2019-12-18 01:33] mlinksva commented on #1238
Hmm, my impression was that eg zh-hant and zh-tw mean different things, the latter effectively being zh-hant-tw (script is usually omitted if possible). However the locale_name fields in _data/locales seem (autotranslation) to specify Simplified and Traditional, and hopefully the latter articles don't contain a lot of things that would be specific to tw and not eg hk. So I imagine your suggestion